

<form   class="form-horizontal form-validation  m-t-sm  "  ng-controller=" pro_ed_ga_modbus " >


<div class="form-group">
            <label class=" col-md-3   col-sm-5   control-label  ">
                Default Modbus总线从设备
            </label>

            <div class="col-md-5 col-sm-5">
                <input class="form-control" ng-model="dastation.name" required>

            </div>
            <div  class="col-md-4 col-sm-2">
                <button  class="btn btn-sm btn-info">保存</button>
            </div>
        </div>

        <div class="line   b-b"></div>

        <strong>Modbus</strong>


        <div class="line line-dashed  b-b"></div>






        <div class="form-group">
            <label class="col-md-2 col-sm-2 control-label">Physical
            </label>
            <div class="col-md-6 col-sm-8">
                <input class="form-control" ng-model="dastation.deviceno" required>
            </div>
            <div  class=" col-sm-2">
                <button  class="btn btn-sm btn-info">保存</button>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 col-sm-2 control-label">BaudRate
            </label>
            <div class="col-md-6 col-sm-8">
                <input class="form-control" ng-model="dastation.deviceno" required>
            </div>
            <div  class=" col-sm-2">
                <button  class="btn btn-sm btn-info">保存</button>
            </div>
        </div>


    <div class="form-group">
        <label class="col-md-2 col-sm-2 control-label">Parity
        </label>
        <div class="col-md-6 col-sm-8">
            <input class="form-control" ng-model="dastation.deviceno" required>
        </div>
        <div  class=" col-sm-2">
            <button  class="btn btn-sm btn-info">保存</button>
        </div>
    </div>




    <div class="form-group">
        <label class="col-md-2 col-sm-2 control-label">StopBits
        </label>
        <div class="col-md-6 col-sm-8">
            <input class="form-control" ng-model="dastation.deviceno" required>
        </div>
        <div  class=" col-sm-2">
            <button  class="btn btn-sm btn-info">保存</button>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 col-sm-2 control-label">FrameType
        </label>
        <div class="col-md-6 col-sm-8">
            <input class="form-control" ng-model="dastation.deviceno" required>
        </div>
        <div  class=" col-sm-2">
            <button  class="btn btn-sm btn-info">保存</button>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 col-sm-2 control-label">ExtraDelay
        </label>
        <div class="col-md-6 col-sm-8">
            <input class="form-control" ng-model="dastation.deviceno" required>
        </div>
        <div  class=" col-sm-2">
            <button  class="btn btn-sm btn-info">保存</button>
        </div>
    </div>


    <div class="form-group">
        <label class="col-md-2 col-sm-2 control-label">SlaveTimeout
        </label>
        <div class="col-md-6 col-sm-8">
            <input class="form-control" ng-model="dastation.deviceno" required>
        </div>
        <div  class=" col-sm-2">
            <button  class="btn btn-sm btn-info">保存</button>
        </div>
    </div>


</form>



