<!--  日志 可视化  产看 编辑 模版 !   -->

<div class="modal-header ">
    <h4>添加参数</h4>
</div>
<div class="modal-body">
    <form class=" bs-example form-horizontal form-validation  padding-10 " name="form">
        <div ng-if="$debug">
            opt = {{opt}}<br/>
            op_temp = {{op_temp}}<br/>
            profPoing = {{pp}} <br/>
            form.$valid = {{form.$valid}}
        </div>


        <input type="submit" class="hidden">

        <ng-include  src = "  'athena/views/debris/_driver_temp_point.html'  "></ng-include>


        <ng-include src=" 'athena/views/profile/_profpoint_basic.html' "></ng-include>


    </form>
</div>

<ng-include src=" 'athena/views/debris/_modal_footer.html' "></ng-include>
