<!--  station 属性 导航 tab
 状态     配置     信息版    地图   历史数据   固件    手机网络    属性  -->



 <!--  show   实时 历史 , 报警  -->



<!-- id="sataion_prop_tabs"  用于 window resize 调节 map 高度;  -->

<!--   ng-if = "  isShowModul || station.state =='1' || station.state =='2' "  -->

<div >

 

  <!--  展示  -->

    <ul class=" nav  nav-tabs "   ng-if=" isShowModul "   > 
        <li  ui-sref-active="active"     >
            <a   ui-sref=" app.show.station_prop.current"    >  
             <i class="fa fa-wrench "></i>
              实时 
            </a>
       </li>

       <li  ui-sref-active="active"     >
            <a   ui-sref="app.show.station_prop.history"    >   历史     </a>
       </li>
       
       <li  ui-sref-active="active"      >
            <a   ui-sref="app.show.station_prop.alarm"    >   报警     </a>
       </li>
    </ul>


 
    
    <ul class=" nav  nav-tabs "   ng-if=" !isShowModul " >    

       <li  ui-sref-active="active"    >
            <a   ui-sref="app.station.prop._basic"    >  
          
             <i class="fa   fa-info-circle "></i>
              状态     </a>
       </li>

       <li  ui-sref-active="active"   >
            <a    ui-sref="app.station.prop._config"   > 
               <i class="fa fa-wrench "></i>
               配置
            </a>
       </li> 

       <li  ui-sref-active="active"   >

            <a ui-sref="app.station.prop.tag"   > <i class="fa fa-tag"></i>变量</a>
       </li>

       <li  ui-sref-active="active"   >
            <a    ui-sref="app.station.prop.trigger"   >
               <i class="fa fa-fire"></i>
               触发器</a>
       </li>

       <li  ui-sref-active="active"   >
            <a    ui-sref="app.station.prop.message"   >
               <i class="fa fa-envelope "></i>
               通知</a>
       </li>

 
      <li  ui-sref-active="active"   >
            <a    ui-sref="app.station.prop.contact"   >
               <i class="fa fa-envelope "></i>
               联系人</a>
      </li>
 
 

       <li  ui-sref-active="active" >
            <a   ui-sref="app.station.prop._map"   >   
               <i class="glyphicon glyphicon-globe "></i>
             地图   </a>
       </li>  
   </ul> 

   <div ui-view  class="panel panel-default b-t-none  "  > </div>

</div>


 








 



