<!-- project  添加 和 属性展示 模版  -->

 
<div class="panel-body table-responsive no-padder  bg-light ">


<h4 class="text-center m-t-l  "> </h4>
<form name="form"  panelclass class="form-horizontal form-validation  ">



  
<!-- <span   wrap >12313</span> -->

    <!--   <input  tl-wrap-l  label="公司"    ng-model=" proj.proj_company " >-->
    <input  tl-wrap-l  label="姓"    ng-model=" C.first_name "   required >
    <input  tl-wrap-l  label="名字"    ng-model=" C.last_name "  required >
   
    <div class="form-group "    >

        <label class="col-sm-3 control-label  ">  
          <span   > 通知形式</span> 
        </label>
        <div class=" col-sm-9">  

                <div class="checkbox inline">
                  <label class="i-checks">
                    <input type="checkbox" ng-model=" C.mail_notice " checked=""
                        ng-true-value="1"
                        ng-false-value="0"
                    ><i></i>
                    <span> 邮件通知</span>
                  </label>
                </div>

                <div class="checkbox inline m-l ">
                  <label class="i-checks">
                    <input type="checkbox"   ng-model=" C.sms_notice " checked=""
                        ng-true-value= '1'
                        ng-false-value= '0'
                    ><i></i>
                    <span> 短信通知</span>
                  </label>
                </div>
 
        </div>
    </div>


 

    

    <input  tl-wrap-l  label="邮箱"    ng-model=" C.email "
            type="email"
            required
            
     >
    
    <input  tl-wrap-l  label="电话"    ng-model=" C.tel " 
          ng-pattern="/^\d{4}-\d{7,8}$/"
          placeholder="xxxx-xxxxxxxx"
          >

    <input  tl-wrap-l  label="手机号码"  
        ng-model=" C.mobile_phone "  ng-pattern="/^\d{11}$/"
          
        required
        >

    <input  tl-wrap-l  label="国家"    ng-model=" C.country " >

    <input  tl-wrap-l  label="省"    ng-model=" C.province " >
    <input  tl-wrap-l  label="城市"    ng-model=" C.city " >
    <input  tl-wrap-l  label="详细地址"    ng-model=" C.address " >
    <input  tl-wrap-l  label="政编码"    ng-model=" C.zip_code " > 

  

    <li class="line b-b"></li>

    <div class="form-group  "  ng-if = " !isShowModul ">
        <label class= "col-sm-3 control-label">
        <span type="submit" class="btn  btn-info  btn-block-middle  w-xs "
        ng-click=" commit()"  >     保存     </span>
        </label>


    </div>

 

</form>


</div>
 

 <div ng-if="$debug">
    <hr/>
    concat = {{C}} <br/>

    isAdd = {{isAdd}}
 </div>
