
<div class="modal-header text-center">
    <h4  >编辑系统</h4>
</div>

<div class="modal-body">

   <form  name="form" class=" form-validation form-horizontal  padding-10 " >

         <div ng-if="$debug">
             form.$valid = {{form.$valid}}<br>
             das = {{das}}
         </div>
  
         <input  tl-wrap  label="采集站名称" required ng-model="das.name "
                 ng-change=" ch( 'name' , das.name )"  >

 

        <select tl-wrap  label="区域"  ng-model= "op._proj"   
                
                ng-options = "p as p.projName  for p in projs "
             >


         <textarea  ng-model=" das.desc "  style="resize: none"   label="备注"
                  tl-wrap      ng-change=" ch( 'desc' , das.desc )"
         ></textarea>

    </form>

</div>


<ng-include  src=" 'athena/views/debris/_modal_footer.html' "></ng-include>


























