 

<div class="panel-heading "  >  
	<form class="form-inline  form-validation ng-pristine ng-valid" name="form">

    <!--     <div class="form-group">
           <label  class=" w-30 text-right control-label "  >设备</label>
          
		       <select  ng-model="op.devId " class="w-xxm input height-30 inline m-t-xs"  ng-options = " d.id as d.name  for d in devices">

		       </select>

        </div> -->
    	<div class="form-group">
        	<label class=" w-30 text-right control-label" >点</label>
         
	  	  	<select  ng-model="op.his_tag" class="height-30   inline m-t-xs" 
		             ng-options = " t.name as t.name  for t in tags" >
                  <option value="">-请选择tag点-</option>
		      </select>
        </div>
         
      

    	<div class="form-group   ">   
    		<label class=" w-xxs text-right control-label float-left m-t-xs"   >起始时间:</label>
          
            <input type="text" class=" input input-sm  float-left"
            	 datetime-picker  date-format='yyyy-MM-dd HH:mm'
               nofocus
            	 data-readonly-input='false'
            	 ng-model="op.start"  is-open='od.showS'  />

            <span class=" float-left">
                <button type="button" class="btn btn-default btn-sm" 
                ng-click="openCalendar($event, 'od.showS=true')">
                <i class="fa fa-calendar"></i></button>
            </span>
            
  	   </div>


		    <div class="form-group   ">   
	    		<label class=" w-xxs text-right control-label float-left m-t-xs"   >结束时间:</label>
	          
	            <input type="text" class=" input input-sm float-left"
	            	 datetime-picker  date-format='yyyy-MM-dd HH:mm'
                 nofocus
	            	 ng-model="op.end"  is-open='od.showE'  />

	            <span class=" float-left">
	                <button type="button" class="btn btn-default btn-sm" 
	                ng-click="openCalendar($event, 'od.showE=true')">
	                <i class="fa fa-calendar"></i></button>
	            </span>
	            
	  	   </div>

 
     
 


        <div class="form-group"> 

        	<span class="btn btn-info btn-sm w-xs m-l m-t-xs"
              ng-disabled="!op.his_tag"
               ng-click="queryHistory()">查询</span>
        </div>

 

    </form> 
</div>

<div class="panel-body "  >
   	
      
   	<div class="col-lg-12 col-md-12"
   		 id="show_live_data"
   		 ng-init="initFlotChart( )"
   		 style="height: 540px; padding: 0px; position: relative;"  
   		 ></div>  
 

</div>

 