 

<ul class="nav  nav-tabs  m-t-xxs ">

<!-- 
  <li  ui-sref-active="active"    >   
    <a  class="inline" ui-sref="app.model.sysmodel_p.basic" > 
      <i class="glyphicon glyphicon-align-justify"></i> 
      <span   > 基本信息 </span> 
    </a> 
  </li>
 -->

  <li  ui-sref-active="active"    >   
    <a  class="inline" ui-sref="app.model.sysmodel_p.sysprofile"     > 
      <i class="fa fa-wrench "></i> 
      <span translate="tab.t12" > 系统配置 </span> 
    </a>
  </li>


  <li  ui-sref-active="active"  >
    <a   ui-sref="app.model.sysmodel_p.sysdevice"     ng-if="sysmodel.mode == 1"  > 
      <i class="fa fa-gear"></i> 
      <span translate="tab.t10" > 设备 </span>   
   </a>
  </li>
  


  
  <li  ui-sref-active="active"   >
    <a  ui-sref="app.model.sysmodel_p.systag" > 
      <i class="fa fa-tag"></i>
      <span translate="tab.t11" >  点  </span>
    </a>
  </li>

  <li  ui-sref-active="active"     >
    <a  ui-sref="app.model.sysmodel_p.trigger"        > 
      <i class="fa fa-fire"></i>
      <span translate="tab.t13">    触发器 </span>
    </a>
  </li>


  <li  ui-sref-active="active"     >
    <a  ui-sref="app.model.sysmodel_p.message"        > 
      <i class="fa fa-envelope "></i>
      <span translate="tab.t14">  通知 </span>
    </a>
  </li>


  <li  ui-sref-active="active"  ng-if="sysmodel.mode == 1 && sysmodel.comm_type == 2 "  >
    <a  ui-sref="app.model.sysmodel_p.gateway"        > 
      <i class="glyphicon glyphicon-random"></i>
      <span translate="tab.t15">    网关 </span>
    </a>
  </li> 
</ul>


<div ui-view  class="panel panel-default b-t-none  "  > </div>