 <!--  操作确认 模版  -->

 <div class="modal-body text-center   ">

     <!--  标题 -->
     <h4>   {{ msg.title }}</h4>

     <!-- 注释 -->
     <div  ng-if="msg.note" class="text-center  text-muted"  >
         {{ msg.note }}
     </div>

     <div ng-if="msg.warn " class="text-center  text-danger  "  >
        <i class= "fa  fa-exclamation-triangle  "></i> {{ msg.warn}}
     </div>

 </div>

 <div class="modal-footer ">
     <button class="btn btn-sm btn-primary  w-xs "  ng-click=" done() "  token   >确定</button>
     <button class="btn btn-sm  btn-default w-xs "  ng-click=" cancel() " >取消</button>
 </div>
