<!-- <div class="panel-body bg-light   table-responsive no-padder no-border gap-5"> -->
 
 
<div class="panel-body table-responsive   padding-5">
    <div ng-repeat='g in  allgroups ' ng-init=" op ={} ">
        
        <div class=' b-b temp-row  my-bg-info ' ng-click='op.show = !op.show '>
            <i class="m-l-xs  fa" 
                ng-class="{ 'fa-plus-square-o': !op.show , 'fa-minus-square-o':op.show  }"></i> 
            {{g.name }} 
        </div>
        


        <form  name="form" id="form" ng-if=" op.show " class="well m-b-none" ng-init=" loadPermission( this.$parent , g )">
              
            <label  class="checkbox i-checks  inline m-r w-sl m-l"   
                    ng-repeat=' a in $sys.accountP'>
                
                <input  type="checkbox" 
                    name="{{a}}" 
                    ng-checked=" promise.indexOf(a) +1 "
                    ng-click=" op.edit = 1 ; ee( $event); "
                   >

                <i></i> <span translate={{a}}></span>
            </label>
        
            <br/>
            <a  class="btn btn-sm btn-info m-t-xs"  ng-show="op.edit"
                ng-click="saveAuthor( this , g , $event ) " > 保存</a> 
 
        </form>

    </div>
</div>

<div class="panel-footer">
    <ng-include src=" 'athena/views/debris/_pager.html'  "></ng-include>
</div>
