

<div >

    <ul class="nav  nav-tabs   ">

        <li  ui-sref-active="active"  >
            <a   ui-sref="app.account.promise._billing" >   Billing  </a>
        </li>
        <li  ui-sref-active="active"  >
            <a  ui-sref="app.account.promise._regist" >   注册  </a>
        </li>
        <li  ui-sref-active="active"  >
            <a  ui-sref="app.account.promise._sms" >   短信  </a>
        </li>
        <li  ui-sref-active="active"  >
            <a ui-sref="app.account.promise._user"  >   用户  </a>
        </li>

    </ul>

    <div ui-view  class="" >    </div>

</div>









