

    <ul class="nav  nav-tabs   ">

        <li  ui-sref-active="active"  >
            <a   ui-sref="app.account.user._all"    translate="tab.t7"  >   所有用户  </a>
        </li>

       <li  ui-sref-active="active"  >
            <a  ui-sref="app.account.user._byproj"  translate="tab.t8" >   按项目划分用户  </a>
        </li>

        <li  ui-sref-active="active"  >
            <a  ui-sref="app.account.user._add"  translate="tab.t9"  >  添加用户 </a>
        </li>
    </ul>

    <div ui-view  class="well-xs"   >    </div>


