 
    
    <div class="panel-body table-responsive  no-padder  no-border">
        <table class=" table   table-bordered  table-condensed   ">
            <thead class="flip-content  ">
                <tr>
                    <th>用户名</th>
                    <th> 手机有效 </th>
                    <th> 电子邮件有效 </th>
                    <th> 上次登录IP </th>
                    <th> 上次登录时间 </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat=" u in page.data" class="hover">
                    <td>
                        <a class="text-link" ng-click=" goto('app.account.edit' , null  , u  ) ">   
                           {{ u.username }}
                        </a>
                    </td> 
                    <td>
                        <i class="fa {{ u.emailEffective?'fa-check text-success':'fa-times  text-danger' }}"></i>
                    </td>
                    <td>
                        <i class="fa {{ u.emailEffective?'fa-check text-success':'fa-times  text-danger' }}"></i>
                    </td>
                    <td> {{u.lastLoginIp }}</td>
                    <td> {{u.lastLoginTime| date:'yyyy-MM-dd HH:mm:ss'}} </td>
                    <td> 
                      <a href="" class="text-link" ng-click="addProjForUser( u )">编辑</a>
                      <a href="" class="text-link" ng-click="addProjForUser( u )">添加组</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer  ">
        <ng-include src=" 'athena/views/debris/_pager.html'  "></ng-include>
    </div>
 