
<div class="panel panel-default  b-white " ng-controller="acco_useredit_author"  >


  <div class="panel-body table-responsive padding-0   "    >    
    
    <table class=" table table-bordered  table-condensed  ">
        <thead  > 
        <tr>
            <th  >项目名称</th>
            <th    > 角色</th> 
            <th  ng-repeat=" au in authors"> {{au.name}}</th> 
        </tr>
 
        </thead>
        <tbody>
 
        <tr  ng-repeat="  pr in  userProjs"      class="hover">
            <td>   {{  kv_projs[pr.projId].projName  }} </td>
            <td>
                   <select ng-model='pr.roleId' 
                           class="w-full no-border no-bg"
                           ng-options =" r.id as r.name for r in roles" 
                           ng-change ="changeRole( pr , this )   "   >

                   </select>    
            </td>   
            
            <td   ng-repeat=" au in authors" > 
                 <label class="checkbox-inline i-checks">
                    <input type="checkbox"   disabled  ng-model="kv_roles[pr.roleId].authorIds[au.id]"  ><i></i> 
                </label>
            </td>

        </tr> 
        </tbody>
    </table> 
  </div>


  <div class="panel-footer padding-5">
     <button class="btn btn-sm btn-info w-xs" ng-click="addProj()">添加工程</button> 

  </div>

</div> 