<div class="modal-header  text-center ">
    添加 外部数据访问;
</div>

<div class="modal-body height-300   "    ng-init=" isedit = true ">
    <!--serch: <input class="form-control"  >-->

    <select class="w-full  border " multiple="">
        <option  class="option "  value="option 1">发觉诶of 1</option>
        <option  class="option "  value="option 1">发觉诶of 1</option>
        <option  class="option "  value="option 1">发觉诶of 1</option>
        <option  class="option"  value="option 2">option 2</option>

    </select>

</div>


<ng-include src=" 'athena/views/debris/_modal_footer.html' "></ng-include>