<div class="  table-responsive padding-0  b-white  "   >

    <table class=" table  table-hover table-striped  table-bordered  table-condensed   ">
        <thead class="flip-content">
        <tr>
            <th width="10%" >码类型</th>
            <th  width="15%" >信息</th>
            <th  width="40%">码</th>
            <th  width="5%" >合格者列表</th>
            <th  width="5%" >活跃 </th>
            <th  width="20%" >活动 </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>  gateway</td>
            <td>虚拟EC300  </td>
            <td>Modbus总线从设备: 1</td>
            <td>Net     </td>
            <td>Net     </td>
            <td> EC300 </td>
        </tr>

        </tbody>
    </table>

    <div   class="panel-footer  "  style="padding: 5px 5px"   >
        <button class="btn btn-success btn-sm w-xs" ng-click="addNetVis()"> 添加 </button>
    </div>

 <div>
















