<div class="panel-heading   ">
    <div class="input-group col-sm-4 col-sm-push-8 ">
        <input class="form-control input-sm" type="text" ng-model="f_projname">
        <span class="input-group-btn">
                   <span class="btn btn-default height-30 disabled"     translate="common.search"  ></span>
        </span>
    </div>
</div>
<div class="panel-body table-responsive no-padder">
    <table class=" table   table-bordered ">
        <thead class="flip-content">
            <tr class="background ">
                <th>
                    <span translate="th.th1">在线</span>
                </th>
                <th>
                    <a translate="th.th2">名称</a>
                </th>
                <th>
                    <a translate="th.th3">创建时间
                       </a>
                </th>
                <th>已激活系统</th>
                <th>未激活系统</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="text-center ">
            <!--  <tr  ng-show=" fps.length==0 " >
                    <td colspan="6" class="text-center" >=.= 什么都没找到 ! </td>
               </tr>-->
            <!--  <tr  ng-repeat="  project  in projs_filet_name "   >-->
            <!--      <tr  ng-repeat="  proj  in allprojects
                                              | pageLimit  : currentPageNo * $sys.page.pagesize : $sys.page.pagesize
                                              | orderBy    : predicate:reverse  "
                 >   -->
            <tr ng-repeat="  proj  in page.data | filter:{name:f_projname } " class="hover">
                <td class="text-left">
                    <i class="glyphicon glyphicon-signal
                      {{ !proj.das_act_num ? ' text-danger':''  }}
                      {{   (proj.das_act_num && proj.das_unact_num)? 'text-warning':''    }}
                      {{  (proj.das_act_num >0 && !proj.das_unact_num )? ' text-success':''   }}  ">

                     </i> {{proj.das_act_num || 0}} / {{ (proj.das_act_num || 0) + (proj.das_unact_num ||0) }} 在线
                </td>
                <td>
                    <a class="text-info-dk  " ng-click="  goto ( _$nextState ,  undefined  , proj ); ">
                        {{ proj.name }}

                    </a>
                </td>
                <td> {{ proj.createTime | date:"yyyy-MM-dd HH:mm" }}</td>
                <td class="numeric "> {{ proj.active_sysno }} </td>
                <td class="numeric "> {{ proj.unacitve_sysno }} </td>
                <td class="numeric">
                    <a class="text-info-dk m-r-xs" ng-disabled="true" ng-if=" ! isShowModul " ng-click="delProject( proj  , $index   )">移除</a>
                    <a class="text-info-dk" ng-href="../syalias/trunk/{{ isShowModul?'syalias':'dyalias'}}.html?account=thinglinx&project=2#/page/Demo" target="_blank">可视化</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="panel-footer">
    <button class="btn btn-success btn-sm  pos-abt  " 
         ng-if=" !isShowModul" ng-click="  goto( 'app.proj.addproj' ) ">
        添加区域
    </button>
    <div  class="text-center" ng-include src=" 'athena/debris/_pager.html'  "></div>
</div>
 
