
<strong>基本信息:</strong>

<p class="m-l-lg">
    项目数量  {{accMsg.proj_total }} <br>
    采集站数量 {{ accMsg.station_total | number:0  }},活跃数量{{ accMsg.sation_act_total | number:0  }}<br>
    <!--  发送系统数量 &nbsp;:&nbsp;&nbsp; 2<br>-->
    <!--   GPS跟踪使能系统数量 &nbsp;:&nbsp;&nbsp; 2<br>-->
    用户数量 {{ accMsg.user_total }} <br>
</p>


<!--  <div class=" col-md-4 col-xs-6  ">
<strong>登录信息:</strong>
<p class="m-l-lg">

    登录帐号&nbsp;&nbsp;:xxxxxxxxx <br>
    登录时间&nbsp;&nbsp;:&lt;!&ndash; {{ new Date()  }}&ndash;&gt; <br>
</p>
</div>-->

<div class="line b-b"></div>











<strong>采集站序列号:</strong>

<div class=" b-l   m-l-lg "  >  
    <div  class=" b-r  b-t b-b w-sm inline  padding-5  xxxx"  ng-repeat=" sn in sns"
          ng-class="{'bg-info':sn.isUsed}"
          style="margin-top:-1px;"
          >
        {{sn.stationSn }}
    </div>

<!--ng-class="{'bg-info':sn.isUsed }"-->
</div>


        <!-- <div class="col-md-4 col-xs-6    ">
            <div ng-repeat=" sn in sns"  class="m-l-lg m-b-xs">
                 {{sn.stationSn}}
                  <span  ng-if = "sn.isUsed " class="label bg-success m-l-sm ">使用中</span>
            </div>
         </div>-->



           <!-- <div class="line   b-b  "></div>-->


<!--

   <strong>为注册级别计算配置限额</strong>

    <form name="forma" class="form-horizontal form-validation">


        <div class="form-group">
            <label class=" col-md-2 col-sm-3 control-label">选择产品</label>
            <div class="col-md-2 col-sm-3">

                <select   class="form-control" ng-model="  project.projectname  "
                       ng-options="  obj.id as obj.name  for obj in product "
                        >
                </select>

            </div>
        </div>
        <div class=" line line-dashed b-b"></div>
        <div class="form-group">
               <div class="col-md-2 col-md-offset-2  col-xs-3 col-xs-offset-4">日志参数</div>
               <div class="col-md-5  col-sm-5  ">间隔</div>
        </div>

        <div class="form-group">
            &lt;!&ndash; <label   for="dfae"  class="col-sm-2 control-label"   >项目名称</label>&ndash;&gt;
            <label class="col-md-2 col-xs-4 control-label">慢日志记录</label>

            &lt;!&ndash;<input  ng-model="a">&ndash;&gt;

            <div class="col-md-2 col-xs-3">
                <input  ng-model="a"
                        ui-jq="TouchSpin" type="text" value="10"
                        data-class=" height-30 w-xs "
                       data-min='0' data-max="20" data-verticalbuttons="true"
                       data-verticalupclass="fa fa-caret-up"
                       data-verticaldownclass="fa fa-caret-down">
            </div>
            <div class="col-md-8 col-xs-5   "   >
                <select   class="form-control w-xs  input-sm  float-left  "
                    ng-model="log.s1"    ng-options="   a  for  a   in s1 "
                >
                </select>
                <div class=" m-t-xs pos-stc "> 分钟</div>
            </div>

        </div>


        <div class="form-group">
            <label class="col-md-2 col-xs-4 control-label">中速日志记录</label>

            <div class="col-md-2 col-xs-3">
                <input ui-jq="TouchSpin" type="text" value="10"
                       data-class="w-xs"
                       data-min='0' data-max="20" data-verticalbuttons="true"
                       data-verticalupclass="fa fa-caret-up"
                       data-verticaldownclass="fa fa-caret-down">

            </div>
            <div class="col-md-5 col-xs-4   " >
                <select   class="form-control input-sm w-xs float-left"
                          ng-model="log.s2"     ng-options="   a  for  a   in s2 "
                        >
                </select>
                <div class=" m-t-xs"> 分钟</div>
            </div>

        </div>

        <div class="form-group">
            <label class="col-md-2 col-xs-4 control-label">快速日志记录</label>

            <div class="col-md-2 col-xs-3">
                <input ui-jq="TouchSpin" type="text" value="10"
                       data-class="w-xs"
                       data-min='0' data-max="20" data-verticalbuttons="true"
                       data-verticalupclass="fa fa-caret-up"
                       data-verticaldownclass="fa fa-caret-down">

            </div>
            <div class="col-md-5 col-xs-4 " >
                <select   class="form-control   input-sm w-xs  float-left "
                          ng-model="log.s3"    ng-options="   a  for  a   in s3 "
                        >
                </select>
                <div class=" m-t-xs "> 秒</div>
            </div>
        </div>
    </form>
    <div class="line b-b"></div>

 <strong>历史数据的存储时间</strong>
 <div class="row m-l m-t-sm">
     <div class="col-md-2 col-xs-3">
         Standard  <br>
         {{ 50000 }} 点数
     </div>
     <div class="col-md-10 col-xs-8">
         <div class="progress myprocessbar ">
             <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                 <span class="sr-only">20% Complete</span>
             </div>
         </div>

         <div class="progress myprocessbar  ">
             <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                 <span class="sr-only">40% Complete (success)</span>
             </div>
         </div>
     </div>
</div>

 <div class="line line-dashed b-b"></div>


  <div class="row m-l m-t-sm">
     <div class="col-md-2 col-xs-3">
         Log250  <br>
         {{ 150000 }} 点数
     </div>
     <div class="col-md-10 col-xs-8">
         <div class="progress myprocessbar ">
             <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                     <span>22 详细天数及 261 平均天数 </span>
             </div>
         </div>

         <div class="progress myprocessbar  ">
             <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                 22 详细天数及 261 平均天数
             </div>
         </div>
     </div>
  </div>


  <div class="line line-dashed b-b"></div>

  <div class="row m-l m-t-sm">
     <div class="col-md-2 col-xs-3">
         Log1000  <br>
         {{ 520000 }} 点数
     </div>
     <div class="col-md-10 col-xs-8">
         <div class="progress myprocessbar ">
             <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">

             </div>
         </div>

         <div class="progress myprocessbar  ">
             <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">

             </div>
         </div>
     </div>
 </div>



-->



