
<!--<div class="panel panel-default">-->
<div class="panel-body  table-responsive   b-white  padding-0 ">
    <table class=" table table-hover  table-striped  table-bordered      ">
        <thead class="flip-content">
        <tr>
            <th  width="20%"  >注册码</th>
            <th  width="20%"  >订单号</th>
            <th  width="20%"  >信息</th>
            <th  width="15%"  >已使用</th>
            <th  width="15%"  >添加日期</th>
            <th  width="10%"  >选择</th>
        </tr>
        </thead>

        <tbody>
        <tr  >
            <td>  Modbus总线  </td>
            <td>  DATAKOM - DKG-705   </td>
            <td>  DATAKOM - DKG-705   </td>
            <td>  DATAKOM - DKG-705   </td>
            <td>  DATAKOM - DKG-705   </td>
            <td   class="text-center"  >
                <input  type="radio" name="select"  value="">
            </td>
        </tr>
        <tr  >
            <td>  Modbus总线  </td>
            <td>  DATAKOM - DKG-705   </td>
            <td>  DATAKOM - DKG-705   </td>
            <td>  DATAKOM - DKG-705   </td>
            <td>  DATAKOM - DKG-705   </td>
            <td   class="text-center"  >
                <input  type="radio" name="select" value="" >
            </td>
        </tr>


        </tbody>
    </table>

    <div   class="panel-footer  "  style="padding: 5px 5px"   >
        <button class="btn btn-info  btn-sm"   ng-click=" addRegistNo() "  > 添加注册码 </button>
        <button class="btn btn-info  btn-sm"   ng-click=" useRegistNo() "> 使用注册码 </button>
    </div>
</div>

<!--</div>-->


<div  class="panel panel-default">

    <div class="panel-heading  padding-5" >
         系统注册概览
    </div>

    <div class="panel-body table-responsive  padding-0  ">
        <table class=" table  table-hover  table-striped  table-bordered   "    >
            <thead class="flip-content">
            <tr>
                <th  width="20%"  > 姓名 </th>
                <th  width="20%"  > 设备号 </th>
                <th  width="15%"  > 项目 </th>
                <th  width="15%"  > 级别 </th>
                <th  width="10%"  > 已激活 </th>
                <th  width="10%"  > 到期日期 </th>
                <th  width="5%"  class=" number ">选择</th>
            </tr>
            </thead>

            <tbody>
            <tr  >
                <td>  Modbus总线  </td>
                <td>  DATAKOM - DKG-705  </td>
                <td>  DATAKOM - DKG-705  </td>
                <td>  DATAKOM - DKG-705  </td>
                <td>  DATAKOM - DKG-705  </td>
                <td>  DATAKOM - DKG-705  </td>
                <td  class="text-center" >
                    <!--<label class="i-checks">
                        <input type="checkbox" checked=""><i></i>
                    </label>-->
                    <input type="checkbox"  name="x">
                </td>
            </tr>
            <tr  >
                <td>  Modbus总线  </td>
                <td>  DATAKOM - DKG-705  </td>
                <td>  DATAKOM - DKG-705  </td>
                <td>  DATAKOM - DKG-705  </td>
                <td>  DATAKOM - DKG-705  </td>
                <td>  DATAKOM - DKG-705  </td>
                <td  class="text-center" >
                    <!--<label class="i-checks">
                        <input type="checkbox" checked=""><i></i>
                    </label>-->
                    <input type="checkbox"  name="x">
                </td>
            </tr>
            <tr  >
                <td>  Modbus总线  </td>
                <td>  DATAKOM - DKG-705  </td>
                <td>  DATAKOM - DKG-705  </td>
                <td>  DATAKOM - DKG-705  </td>
                <td>  DATAKOM - DKG-705  </td>
                <td>  DATAKOM - DKG-705  </td>
                <td  class="text-center" >
                    <!--<label class="i-checks">
                        <input type="checkbox" checked=""><i></i>
                    </label>-->
                    <input type="checkbox"  name="x">
                </td>
            </tr>
            <tr  >
                <td>  Modbus总线  </td>
                <td>  DATAKOM - DKG-705  </td>
                <td>  DATAKOM - DKG-705  </td>
                <td>  DATAKOM - DKG-705  </td>
                <td>  DATAKOM - DKG-705  </td>
                <td>  DATAKOM - DKG-705  </td>
                <td  class="text-center" >
                    <!--<label class="i-checks">
                        <input type="checkbox" checked=""><i></i>
                    </label>-->
                    <input type="checkbox"  name="x">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


