
<div class="panel panel-default b-white  " >
   
    <div class="panel-heading" ng-if="false">
        <div class=" ">
              <strong> 通用配置 </strong>   <br>

               <div  class="inline">
               用户Allow users to edit their properties
               </div>
            <div  class="inline">

             <select  class="form-control w-xs input-sm "  ng-init=" opt =  [{ value:1 , name:'是'} ,{ value:2 , name:'否'} ] "
                      ng-options=" obj.value as obj.name  for obj in  opt"  ng-model="a.a"
                     >
             </select>

            </div>
        </div> 

    </div>

    <div class="panel-body table-responsive  no-padder "   >

        <table class=" table   table-bordered  table-condensed   ">
            <thead class="flip-content  ">
                <tr>
                    <th    >用户名</th> 

                       <th> 角色 </th>

                      <th> 手机有效  </th>
                      <th>  电子邮件有效 </th>
                      <th> 上次登录IP  </th>
                      <th> 上次登录时间  </th>   
                      <th>    </th>   

                </tr>
            </thead> 
            <tbody>
                <tr  ng-repeat=" u in page.data"  class="hover">
                   <!-- 
'app.account.edit({uid:'+ u.userid +'})'    ui-sref="app.account.edit( u ) "
                   <td>  <a class="text-link"   ui-sref="app.account.edit({uerid:111})" >{{ u.username }}</a>  </td>-->

                      <td>     
                        <a class="text-link"   ng-click=" goto('app.account.edit' , null  , u  ) "  >   
                           {{ u.username }}
                        </a> 
                      </td>
                     
                    <td  > {{u.roleName}} </td> 

                    <td> 
                         <i class="fa {{ u.emailEffective?'fa-check text-success':'fa-times  text-danger' }}"   ></i>  

                    </td>
                    <td>   
                      <i class="fa {{ u.emailEffective?'fa-check text-success':'fa-times  text-danger' }}"   ></i>  
                    </td>

                    <td> {{u.lastLoginIp  }}</td> 
                    
                    <td> {{u.lastLoginTime| date:'yyyy-MM-dd HH:mm:ss'}}  </td>
                   
                    <td> <a href="" class="text-link" ng-click="addProjForUser( u )" >添加工程</a> </td>
                </tr>




            </tbody>
        </table>

    </div>

    <div class="panel-footer  ">
      
        <ng-include  src=" 'athena/views/debris/_pager.html'  "></ng-include>

    </div>

</div>



