
  <div class="   panel panel-default  b-white    "    >  
   

    <div class="panel-body table-responsive padding-0   "   >

        <table class=" table    table-bordered  table-condensed   ">
            <thead class="flip-content  ">
                <tr >
                     
                    <th width="15%" >  用户   </th> 
                    <th width="15%">  角色 </th> 
                    <th width="10%"> 读数据  </th>
                    <th width="10%"> 写数据 </th>
                    <th width="10%"> 查看报警   </th>
                    <th width="10%">确认报警   </th>
                    
                    <th width="10%">采集站管理   </th>
                    <th width="10%">查看可视化 </th> 
                    <!-- 
                    <th>用户管理   </th>
                    <th>项目角色管理    </th>
                    <th>项目管理   </th>  
                  -->
                </tr>
            </thead> 

        <thead  ng-repeat-start=" pu in proj_users"   >
          <tr  ng-click="show = !show"  class = " my-bg-info text-left "  style="height:10px">
            <td colspan="10"  style="padding:3px"  >   
              <a  class='fa  m-l-xs' ng-class="{ 'fa-plus-square-o': !show ,   'fa-minus-square-o':show  }" ></a>
              {{pu.projName}}
             
            </td>
          </tr>
        </thead>

        <tbody  ng-repeat-end   ng-if=" show ">
           <tr class="hover" ng-repeat="u in pu.userList">
               <td class="text-left" style="padding-left:20px">{{u.username}}</td> 
               <td>{{u.roleName}}</td> 
               <td><i class=" fa {{u.author['1']?'fa-check text-success':'fa-times text-danger '}}"></i></td>
               <td><i class=" fa {{u.author['2']?'fa-check text-success':'fa-times text-danger '}}"></i></td>
               <td><i class=" fa {{u.author['3']?'fa-check text-success':'fa-times text-danger '}}"></i></td>
               <td><i class=" fa {{u.author['4']?'fa-check text-success':'fa-times text-danger '}}"></i></td>
               <td><i class=" fa {{u.author['5']?'fa-check text-success':'fa-times text-danger '}}"></i></td>
               <td><i class=" fa {{u.author['7']?'fa-check text-success':'fa-times text-danger '}}"></i></td>
           </tr> 


          <!--  <tr> 
               <td colspan=10  class="text-left  " style="padding-left:20px"  >
                 <a href="" class="text-link" ng-click="addProjUser(this)" >添加用户</a>
               </td>
           </tr> -->
           <tr ng-show='!pu.userList.length' > 
               <td colspan=10  class="text-left  " style="padding-left:20px"  >
                 <span > (无用户) </span> 
               </td>
           </tr> 

        </tbody>
 

    </table>

    </div>

  </div> 














