<div class="panel-body table-responsive padding-0  b-white "   >
    <table class=" table  table-hover table-striped  table-bordered  table-condensed   ">
        <thead class="flip-content">
        <tr>
            <th width="30%" >Published profiles</th>
            <th  width="50%" >	码 </th>
            <th  width="20%" >活跃 </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>  ModTest</td>
            <td>AFCA42D4261B5F3E782591FDB652EDBD     </td>
            <td> <a class="text-link">激活</a> </td>
        </tr>

        </tbody>
    </table>
    <div   class="panel-footer  "  style="padding: 5px 5px"   >
        <button class="btn btn-success btn-sm w-xs"  ng-click="addPublishProfile()" > 添加</button>
    </div>
</div>
