
<select tl-wrap ng-options=" o.v as o.k for o in $sys.alarmtype.values"
        ng-model=" alarm.type " label="报警类型"
        ng-init="  alarm.hasOwnProperty('type')?null: ( alarm.type = $sys.alarmtype.defalut ) "
        ></select>

<div ng-if=" alarm.type >= 6 ">
    <input tl-wrap ng-model="alarm.params" label="报警值" required
           ng-change='cc( this)'
    >
</div>

<div ng-if=" alarm.type < 6 ">
    <input tl-wrap ng-model="alarm.params" label="报警值" required
           type="number"
            >
</div>



<div class="form-group  ng-scope" ng-if="alarm.type >= 6 ">
    <hex-Simulator data="alarm.params" notation="byte"></hex-Simulator>
</div>



<input tl-wrap ng-model="alarm.class_id" label="报警类别"
       ng-pattern="/^[0-9]$/" placeholder="请输入0-9的数字"
        >

<select tl-wrap
        ng-options="o.v as o.k  for o in $sys.alarm_sev.values"
        ng-model="alarm.severity"
        tl-default="0"
        label="报警严重度"
          ></select>

<select tl-wrap
        ng-options=" o.v as o.k for o in $sys.alarm_ori.values "
        ng-model="alarm.origin"
        label="报警源"
        tl-default="0"
        ></select>
<input tl-wrap ng-model="alarm.desc" label="备注">