
<form   class="form-horizontal form-validation  m-t-sm  "  ng-controller=" pro_ed_ga_gps " >




    <div class="form-group">
        <label class="col-md-2 col-sm-2 control-label"> Default N/A

        </label>

        <div class="col-md-6 col-sm-8">
            <input class="form-control" ng-model="dastation.deviceno" required>
        </div>

        <div  class=" col-sm-2">
            <button  class="btn btn-sm btn-info">保存</button>
        </div>

    </div>


        <div class="line   b-b"></div>

        <strong>GPS</strong>


        <div class="line line-dashed  b-b"></div>


        <div class="form-group">
            <label class="col-md-2 col-sm-2 control-label">Enabled

            </label>

            <div class="col-md-6 col-sm-8">
                <input class="form-control" ng-model="dastation.deviceno" required>
            </div>

            <div  class=" col-sm-2">
                <button  class="btn btn-sm  btn-warning">保存</button>
            </div>

        </div>


        <div class="form-group">
            <label class="col-md-2 col-sm-2 control-label">BaudRate

            </label>

            <div class="col-md-6 col-sm-8">
                <input class="form-control" ng-model="dastation.deviceno" required>
            </div>

            <div  class=" col-sm-2">
                <button  class="btn btn-sm btn-info">保存</button>
            </div>

        </div>


        <div class="form-group">
            <label class="col-md-2 col-sm-2 control-label">Distance

            </label>

            <div class="col-md-6 col-sm-8">
                <input class="form-control" ng-model="dastation.deviceno" required>
            </div>

            <div  class=" col-sm-2">
                <button  class="btn btn-sm btn-info">保存</button>
            </div>

        </div>

</form>

