

    <div class=" panel-body padding-0  table-responsive  "   >
        <table class=" table     table-bordered  table-condensed   ">
            <thead class="flip-content">
            <tr>
             <!--   <th   width="15%" >模版</th>-->
                <th  width="15%" >模版点</th>
                <th  width="20%" >名称</th>
                <th  width="20%" >描述</th>
                <th  width="5%" >是否保存日志</th>
                <th  width="10%"  >日志记录间隔</th>
                <th  width="10%"  >日志类型</th>
                <th  width="15%"  >活动</th>
            </tr>
            </thead>
            <tbody>

                      <!--  profpint: {  temp_point  ,  profile:{ profpoint  }  }   -->

                    <tr  ng-repeat=" pp in profpoints | pageLimit:currentPage "  >
                      <!--  <td>  {{ pp.template_id }} </td>-->
                         <td>{{pp.pointname}}</td>
                        <td> {{pp.name}}</td>
                        <td> {{pp.desc}}  </td>
                        <td>{{ pp.save_log == "1"?"是":"否" }} </td>
                        <td>{{ pp.save_log == "1"?  ( pp.log_cycle  | log_cycle ): undefined  }} </td>


<!--                        <td>{{ pp.log_cycle | log_cycle }} </td>-->
                        <td>
                            <!--{{ pp.log_type }} -->原始数据
                        </td>
                        <td>
                            <a class="  text-link"  ng-click="editLog( this , pp , $index )" >编辑</a>
                            <a class="  text-link" ng-click="delLog(pp , $index )" > 移除</a>
                           <!-- <a class="  text-link" ng-click="delLog( pp.name , $index )" >移除</a>-->
                        </td>
                    </tr>
            </tbody>
        </table>


    </div>
    <div class="panel-footer  "  ng-init="currentPage=1" > 
        <pagination  
                class="pagination-sm m-t-none"  
                
                total-items="profpoints.length"

                ng-model="currentPage"  
                items-per-page = "$sys.pager.itemsPerPage"
                 
                num-pages="page.numPages"
 
     
                max-size="10"
                boundary-links="true" 
                rotate="false" 

                firstText = "首页"
                previousText = "上一页"
                nextText = "下一页"
                lastText  =  "尾页"  
        >
        </pagination>   
  

        <button class="btn btn-info btn-sm   m-l "   ng-click=" addLogPoint( this ) "> 添加日志参数 </button>

    </div>


