

    <div class=" panel-body  no-padder table-responsive b-white "   >
        <table class=" table    table-bordered  table-condensed   ">
            <thead class="flip-content">
            <tr>
                <th   width="30%" >采集站名称</th>
                <th  width="30%" >创建时间</th>
                <th  width="30%" >最后更改事件</th>
                <th  width="15%"  >参数</th>
                <th  width="15%"  > {{op_tempid}} </th>
            </tr>
            </thead>
            <tbody>
                <tr  ng-repeat=" d in  ds">
                    <td>{{ d.name }}</td>
                    <td>{{d.create_time | date:"yyyy-MM-dd hh:mm" }}</td>
                    <td>{{d.last_modify_time | date:"yyyy-MM-dd hh:mm" }}</td>
                    <td>
                      <i class="fa fa-gear" tip="{{d.params}}"  type="device" version="1.0"></i>
                    </td>
                    <td>station_id = {{ d.station_id }} </td>
                </tr>
            </tbody>
        </table>

    </div>
