<div class=" modal-header  text-center ">
    <h4>添加设备</h4>
</div>

<div  class="modal-body p-t-0 "  ng-init=" isedit = false "  >
    <form class=" bs-example form-horizontal  form-validation  "  name="form"   >

        <input type="submit"  class="hidden">

        <div class=" form-group m-b-xxs ">
            <div class="radio  col-sm-9  col-sm-offset-1 ">
                <label class="i-checks">
                    <input type="radio" value="temp" name="a"  ng-model="op.use"   ng-change="cc() " >
                    <i></i>
                    由模版生成设备
                </label>
            </div>
        </div>

        <div class=" form-group m-b-xxs ">
            <div class="radio  col-sm-9  col-sm-offset-1 ">
                <label class="i-checks">
                    <input type="radio" value="prof" name="a" ng-model="op.use"  ng-change="cc() " >
                    <i></i>
                    由配置项生成设备
                </label>
            </div>
        </div>

        <ng-include  src=" 'athena/device/_device_base.html' "></ng-include>

      <div ng-if="$debug">
          根据driverId 加载 driver Ui ;<br>
      path = {{'athena/device/_dev_type_'+ op.type +'.html'}}
      </div>

        <ng-include  src=" 'athena/device/_dev_type_'+ op.type +'.html' "></ng-include>

        <div  class="text-muted">
           <!-- Remember to configure the gateway settings.-->
        </div>
        <div ng-if="$debug">
            device =   {{ device }}  <br/>
            op =   {{ op }}  <br/>
            opt =   {{opt}}
        </div>
    </form>

</div>

<div class="modal-footer   ">
    <!-- ng-disabled=" !myform.$valid "-->
    <button class="btn btn-sm btn-primary  w-xs "  ng-click=" done( $event.target  ) "   token="5000"  >确定</button>
    <button class="btn btn-sm  btn-default w-xs "  ng-click=" cancel() " >取消</button>
</div>
