<div class="panel-heading " style="padding-top:0px">
    <form class="form-inline  form-validation ng-pristine ng-valid" name="form">
        <div class="form-group " style="height: 35px; padding-top: 5px;">
            <div class="radio  ">
                <label class="i-checks  ">
                    <input type="radio" ng-model="op.ala" name="a" value="a">
                    <i></i> 活跃报警
                </label>
            </div>
            <div class="radio m-l ">
                <label class="i-checks">
                    <input type="radio" name="a" ng-model="op.ala" value="b" checked="true">
                    <i></i> 全部报警
                </label>
            </div>
        </div>
 
        <div ng-if=" op.ala == 'b' " class="inline" >
            <div class="form-group" >
 
                <label class=" w-xxs text-right control-label float-left m-t-xs">起始时间:</label>
                <input type="text" class=" input input-sm  float-left" datetime-picker date-format='yyyy-MM-dd HH:mm' nofocus data-readonly-input='false' ng-model="op.start" is-open='od.showS' />
                <span class=" float-left">
                      <button type="button" class="btn btn-default btn-sm" 
                      ng-click="openCalendar($event, 'od.showS=true')">
                      <i class="fa fa-calendar"></i></button>
                </span>
            </div>
 
            <div class="form-group ">
                <label class=" w-xxs text-right control-label float-left m-t-xs">结束时间:</label>
                <input type="text" class=" input input-sm float-left" 
                datetime-picker date-format='yyyy-MM-dd HH:mm' nofocus ng-model="op.end" is-open='od.showE' />
 
                <span class=" float-left">
                      <button type="button" class="btn btn-default btn-sm" 
                      ng-click="openCalendar($event, 'od.showE=true')">
                      <i class="fa fa-calendar"></i></button>
                  </span>
            </div>
            <div class="form-group" ng-if="false">
                <label class=" w-30 text-right" for="exampleInputPassword2">条数</label>
                <select ng-model="op.num" class="form-control w-xs inline m-t-xs" ng-options=" n for n in [50,100,200,300,400,500] " required>
                </select>
            </div>
            <div class="form-group">
 
                <span ng-if=" op.ala !='a' " class="btn btn-info btn-sm w-xs m-l m-t-xs" 
                 ng-click="loadPageData(1)" token > 

                     查询
                </span>
            </div>
        </div> 
        <div ng-if=" op.ala=='a' "  class="inline m-l-lg  p-t">
            <span  class="btn btn-info btn-sm w-xs m-l m-t-xs" 
                 ng-click="loadPageData(1)" token > 
                刷新
            </span>
        </div>

    </form>
</div>
<div class="panel-body table-responsive no-padder" ng-init=" _$A = $sys.trigger.op">
    <table class="  table  table-hover  table-bordered " ng-init="_config = $sys.trigger.severity">
 


        <thead class="flip-content">
            <tr class="background ">
                <th> 报警ID </th>
                <th> 报警时间</th>
                <th> 报警描述 </th>
                <th> 重要性 </th>
                <th> 类别 </th>
                <th> 活跃状态 </th>
                <th class="w-xs"> </th>
            </tr>
        </thead>
        <tbody class="text-center ">
 
            <tr ng-repeat="  a  in  page.data  "  >
 
                <td> {{ a.id }} </td>
                <td> {{ a.timestamp | date:"yyyy-MM-dd HH:mm:ss" }}</td>
                <td> {{ a.desc }}</td>
                <td> {{ _config[a.severity] }} </td>
                <td> {{ a.class_id }} </td>
                <td> {{ a.active?"活跃":"关闭" }} </td>
                <td> <a class="text-link" ng-click="alarmMsg(a)">详细信息</a></td>
            </tr>
        </tbody>
    </table>
</div> 


<div class="panel-footer ">
   
    <div class=" text-center " ng-include src=" 'athena/debris/_pager.html'  "></div>
    
</div>
 
