<div class="panel-heading ">
    <form class="form-validation ng-pristine ng-valid" name="form">
        <!--     <div class="form-group">
           <label  class=" w-30 text-right control-label "  >设备</label>
          
           <select  ng-model="op.devId " class="w-xxm input height-30 inline m-t-xs"  ng-options = " d.id as d.name  for d in devices">

           </select>

        </div> -->
        <!--jjw 添加div.row-->
        <div class="row m-b-sm">

            <div class="form-group  col-md-4 col-sm-6 col-xs-12 tl-wrap-r wrap-label-span-30 m-t-sm m-b-none">
                <label class="w-xxs no-padder m-t-xs text-right control-label col-sm-3 m-b-none">
                    起始时间
                </label>
                <div class="col-sm-9">
                    <input type="text" class=" input input-sm  float-left col-xs-12" datetime-picker date-format='yyyy-MM-dd HH:mm' nofocus data-readonly-input='false' ng-model="op.start" is-open='od.showS' />
                    <span class=" float-left" style="position: absolute;top: 0px;right: 10px">
                        <button type="button" class="btn btn-default btn-sm"
                                ng-click="openCalendar($event, 'od.showS=true')">
                            <i class="fa fa-calendar"></i></button>
                    </span>
                </div>

            </div>
            <div class="form-group  col-md-4 col-sm-6 col-xs-12 tl-wrap-r wrap-label-span-30 m-t-sm m-b-none">
                <label class="w-xxs no-padder m-t-xs text-right control-label  col-sm-3 m-b-none">
                    结束时间
                </label>
                <div class="col-sm-9">
                    <input type="text" class=" input input-sm float-left col-xs-12" datetime-picker date-format='yyyy-MM-dd HH:mm' nofocus ng-model="op.end" is-open='od.showE' />
                    <span class=" float-left" style="position: absolute;top: 0px;right: 10px">
                          <button type="button" class="btn btn-default btn-sm"
                                  ng-click="openCalendar($event, 'od.showE=true')">
                              <i class="fa fa-calendar"></i></button>
                    </span>
                </div>
            </div>
            <div class="form-group col-md-4 col-sm-6 col-xs-12 tl-wrap-r wrap-label-span-30 m-t-sm m-b-none">
                <label class="w-xxs no-padder m-t-xs text-right control-label col-sm-3 control-label m-b-none">
                    变量
                </label>


                <div class="col-sm-9">
                    <select ng-model="op.his_tag" 
                            class="height-30  inline col-xs-12 form-control input-sm"
                            ng-options=" t as t.name  for t in tags  "
                            required
                            >

                        <option value="">-请选择变量-</option>
                    </select>
                </div>
            </div>
 


            <div class="form-group  col-md-4 col-sm-6 col-xs-12 float-right m-t-sm m-b-none">
                <label class="w-xxs col-sm-3"></label>
                <div class="col-sm-9">
 
                    <button class="btn btn-info btn-sm w-46 m-l m-t-xs float-right"
                       ng-click="queryHistory( $event )" token=3000 >查询
                        <i class="fa fa-spin fa-spinner hide   pull-right "  ></i>
                    </button> 
                </div>
 
            </div>
        </div>

    </form>
</div>
<div class="panel-body ">
    <div class="col-lg-12 col-md-12" id="show_live_data" ng-init="initFlotChart( )" style="height: 540px; padding: 0px; position: relative;"></div>
</div>
