<!--jjw b-b-none-->
<div class="panel-heading b-b-none">

    <form class="form-inline ">
        <!--jjw 添加div-->
        <div class="col-md-5 col-xs-12 m-t-sm m-b-sm">
            <div class="input-group col-sm-9 col-xs-12">
                <div class="btn btn-sm    input-group-addon">搜索</div>
                <input type="text" class="form-control input-sm" ng-model="f_name"
                       ng-change="filterTags(f_name)"
                        >
            </div>

            <!--

            <button class="btn btn-sm btn-info  w-xs " ng-click="d_call( system   ,0)" token="5000" > 召唤实时 </button>
            <button class="btn btn-sm btn-info  w-xs " ng-click="d_call( system  , 1 )" token="5000" > 召唤参数 </button>
             -->
            <!--  over="xxxx" popover-trigger="mouseenter" -->

            <!--jjw 召唤所有——>召唤-->
            <button class="btn btn-sm btn-info  w-xs col-sm-3 col-xs-12 float-right" ng-click="d_call( system  , 2 )" pop token="5000"> 召唤</button>
        </div>
        <!--jjw 添加div-->
        <div class="col-md-6 col-xs-12 m-t-sm m-b-sm" style="line-height: 30px">

            <label class="checkbox i-checks col-sm-3 col-xs-5">
                <input type="checkbox" ng-model="auto_r">
                <i></i> <span> 自动刷新</span>
            </label>
            <span class="col-sm-6 col-xs-6">
                <progressbar class="progress-striped     m-b-n-xs  w  inline" animate="false"
                             value=" progValue / 100  " type="success">
                </progressbar>
            </span>
            <button class="btn btn-sm btn-info  w-xs col-sm-3 col-xs-12 float-right " ng-click=" getCurrent() " token> 刷新</button>

        </div>
    </form>
</div>
<div class="panel-body table-responsive no-padder">
    <table class=" table   table-bordered j_table">
        <thead class="flip-content">
            <th class="w">变量</th>
            <th class="w">值</th>
            <th class="w">时间戳</th>
            <th class="w" ng-show=" systemModel.mode ==1 ">下置</th>
            <th class="w"> </th>
        </thead>
      
            <tbody id="current-table"> 
                <tr ng-repeat="t in   filtTags "  class="hover">
                    <td class="full-td "   > 

                        {{t.name}}
                    </td>
                    <td id="_val_{{$index}}"> </td>

                    <td id="_time_{{$index}}">
                        <!-- {{ |  date:"yyyy-MM-dd HH:mm"}} -->
                    </td>
                    <td ng-show=" systemModel.mode ==1 ">
                        <!-- 输入框应该判断数据类型（布尔、数值、枚举、字符串等），
                         并做对应的输入框/下拉框等 -->

                        <!--jjw 去掉h-30 input-s-->
                        <input class="input input-s " ng-model="v">
                        <!-- <tl-input    ></tl-input>-->
                        <button class="btn btn-info btn-xs" ng-click="liveWrite( t, v , this )" token="5000">下置</button>
                        <span id="current_msg_{{t}}" class="w">  {{ msg }}</span>
                    </td>
                    <td>
                        <button class="btn btn-info btn-xs" ng-click="goHis(t)">查看历史</button>
                        <!-- 
                    <button class="btn btn-info btn-xs" ng-show="t.save_log" ng-click="goHis(t)">查看历史</button>
                     -->
  
                </td>
            </tr>
        </tbody>
     </table>
</div>

        <!--jjw 分页-->
<!--<div class="panel-footer ">-->
    <!--&lt;!&ndash;jjw m-t m-d&ndash;&gt;-->
    <!--<div class=" text-center m-t m-b" ng-include src=" 'athena/debris/_pager.html'  "></div>-->
    <!--&lt;!&ndash; 只有 app.proj.prop 路由  才显示   &ndash;&gt;-->
<!--</div>-->
 
