 <!--
 0 =  D  modbus 类型;
 -->
 
 <!--   $sys.D_modbus[version].protocol -->

<div class="hide"  ng-init="   _config =  $sys.device[devModel.driver_id][ devModel.driver_ver ] ;  "></div>


  <select  tl-wrap
           ng-model = "D.params.protocol"
           label="协议"
           tl-default="{{_config.protocol_default}}"
           ng-options="  k as v for  (k,v) in _config.protocol "
          ></select>
 
 <input tl-wrap
        label="地址"
        ng-model="D.params.address"
        
        tl-default="1"

        type="number" 
        max="254"  
        min="1" 
        placeholder=" 1 - 254 "
        required   >


 <select tl-wrap
         label="Int字节排序"
         ng-model = "D.params.int_order"
         tl-default="{{_config.data_order_default}}"
         ng-options=" k as v for (k,v) in _config.data_order "
         ></select>

 <select tl-wrap
         label="Float字节排序"
         ng-model = "D.params.float_order"
         tl-default="{{_config.data_order_default}}"
         ng-options=" k as v for (k,v) in _config.data_order "
         ></select>

 <select tl-wrap
         label="Double字节排序"
         ng-model="D.params.double_order"
         tl-default="{{_config.double_order_default}}"
         ng-options=" k as v for (k,v) in _config.double_order"

         ></select>

 <select tl-wrap
         label="CRC校验字节排序"
         ng-model="D.params.crc_order"
         tl-default="{{_config.crc_order_default}}"
         ng-options=" k as v for (k,v) in _config.crc_order"
         ></select>




