
<!--  modbus 类型 template 点 的  驱动参数  -->
 

<div class="hidden"   desc = " 类型,  扩展参数 对应关系 "
     ng-init="
        modbus_ex_cfg = {
                 '0':0 ,
                 '1':0,
                 '2':0,
                 '11':2,
                 '12':1
        } ;

        point.params.data_type_ex = point.params.data_type_ex || 0 ; 

        _config = $sys.point[ dm.driver_id][ dm.driver_ver ];

     "
    >
</div>
 


<!-- 
 
tl-default 全权重 为80 , 必须要大于  ng-change 权重 , 必须低于 ngmodel ; 确保 trans 有值; ;  

mgModel 的权重为100 ; 该指令 
  ng-change =" point.params.data_type = '0' ;
                     point.params.access_right = '0' ;
                     point.params.data_type_ex = '0'
                     "

-->

<select tl-wrap
        label="区域"
        ng-model="point.params.area"

        ng-change ="   point.params.data_type = '0' ;
                       point.params.access_right = '0' ;
                       point.params.data_type_ex = '0'
                     "
        ng-options="  k as v for (k,v) in  _config.area  "
        required 

        ></select>

  
<!-- 驱动参数 -->
<input  tl-wrap  ng-if="true"
        label="地址"
        required  
        type="number" 
        max="65535" min="0"
        placeholder="请输入0 - 65535 的数字"
        ng-model= "point.params.address"    ></input>




<!--  类型变化后 出事 话  data_type_ex 的值; 
 point.params.data_type_ex = undefined
 ng-model="point.params.data_type"
-->
  <select tl-wrap
        label="类型"
        required
        ng-model="point.params.data_type"
        ng-change =" point.params.data_type_ex = modbus_ex_cfg[point.params.data_type] || 0 "
        
        ng-options=" k as v for (k,v)  in  point.params.area == 0 || point.params.area == 1 ?
                                             {0:'布尔' }   :  _config.data_type "
        >
       <!--  <option value="">--请选择数据类型--</option> -->
  </select>



  <!--  类型 扩展  字段 ;   -->
        <!-- 布尔（text） -->
        <div  ng-if="  point.params.area  >1  && point.params.data_type == 0    ">
              <input  tl-wrap
                      required
                      label="位偏移"
                      type="number"
                      max="15" min="0" 
                      placeholder=" 0 - 15 "
                      ng-model="point.params.data_type_ex"
              />
          </div>


        <!-- 有/无 符号字节(droplist) -->
        <div  ng-if=" point.params.data_type == 1 || point.params.data_type == 2  ">
            <select  tl-wrap
                    required
                    label="高低字节" 
                    ng-model="point.params.data_type_ex"
                    ng-options=" k as v for (k,v)  in  _config.hlbyte "
                    >
                </select>
        </div>
        <!-- \0结束ASCII字符串 -->
        <div  ng-if=" point.params.data_type == 11   ">
            <input  tl-wrap
                    required
                    label="ASCII字符长度" 
                    type="number"
                    max="128"
                    min="2" 
                    placeholder="2 - 128 "
                    ng-model="point.params.data_type_ex"
                >
            </input>
        </div>


        <!-- 固定长度ASCII字符串 -->
        <div  ng-if=" point.params.data_type ==12   ">
            <input  tl-wrap
                    required
                    label="固定ASCII字符长度" 
                    type="number"  max="128" min="1"  placeholder="1 - 128"
                    ng-model="point.params.data_type_ex"
                    >
            </input>
        </div>



<!--ng-model = "point.readwrite"-->
<select tl-wrap
        label="读写属性"
        required
        ng-model = "point.params.access_right" 
        ng-options=" k as v for (k,v) in  (point.params.area ==0||point.params.area ==2)?
                                          _config.access_right :{0:'只读'} "

        >
      <!--   <option value="">--选择读写属性--</option> -->
</select>

