

<div class="modal-header  text-center  "  >
    <h4> 参数编辑</h4>
</div>


<div class="modal-body ">

    <form class=" bs-example  form-validation form-horizontal  padding-10 " name="form">


        <input type="submit" class="hidden"  ng-init=" type =  t.driver_id " >

        <input tl-wrap
               label="点名称"
               ng-model="point.name"
               required>

        <ng-include src=" './athena/template/_point_'+ dm.driver_id+'_'+ dm.driver_ver+'.html' "></ng-include>

       <!-- <pre ng-bind-template=" {{ ui_temp_point }} "></pre> -->

        <!-- 以下的待开发 -->
      <textarea tl-wrap  ng-model="point.desc" label="text.desc" ></textarea>


    </form>

</div>


<ng-include src=" 'athena/debris/_modal_footer.html' "></ng-include>



        <div ng-if="$debug">
            piint = {{point}} <br/>
            tempalte = {{t}} <br/>
            form.$valid = {{form.$valid}} <br>
            dm = {{dm}}
        </div>



  <!--       <input tl-wrap
               label="比例缩放"
               ng-model="point.params.scale"
               required
               type="number"
               tl-default="1"
                >

              -->

 <!--        <input tl-wrap
               label="偏差"
               required
               ng-model="point.params.deviation"
               type="number"
               tl-default="0"
                >
   -->
<!--
        <input tl-wrap
               label="单位"
               ng-model="point.params.unit"
                > -->


        <!--   0 = modbus ;  -->
