    <div class="container w-xxl w-auto-xs"   style="background-color :
                                                    rgb(224, 224, 224) ; border-radius: 5px ;">
      <a href class="navbar-brand block m-t">
          <!--  {{app.name}}   style="width: 150px;"   -->

          <img src="img/logo_2.png"   >
      </a>


      <div class="m-b-lg">
        <div class="wrapper text-center">
          <strong>注册account 用户</strong>
        </div>

        <form name="form" class="form-validation">


            <div class="list-group list-group-sm">
                <!--  ng-keyup=" isDuplicate() " -->
                <div class="list-group-item">
                    <input name="username"  ng-model="comp.name" placeholder="公司名称"
                                class="form-control no-border"     required
                                ng-minlength="3"  ng-maxlength="20"

                    >
                </div>

                <!-- ng-keyup=" isInviteCode() " -->
               <!--  <div class="list-group-item   ">
                    <input name="password"  ng-model="comp.license"    placeholder="邀请码"
                           class="form-control no-border "    required

                            >
                    
                </div> -->

                <div class="list-group-item ">
                    <input name="password"  ng-model="comp.invitation_code"    placeholder="激活码"
                           class="form-control no-border "    required
                            >
                    <!--ng-minlength="6"   ng-maxlength="20" -->
                </div>

                <div class="list-group-item ">
                    <input name="password"  ng-model="comp.admin.username"    placeholder="管理员帐号"
                           class="form-control no-border "    required
                            >
                    <!--ng-minlength="6"   ng-maxlength="20" -->
                </div>

                <div class="list-group-item ">
                    <input name="password"  ng-model="comp.admin.password"
                           placeholder="管理员密码,至少六位"
                           ng-minlength="6"
                           ng-maxlength = '16'
                           onfocus="this.type='password'"
                           class="form-control no-border "    required
                            >
                    <!--ng-minlength="6"   ng-maxlength="20" -->
                </div>

 
                <div class="list-group-item"  ng-init="t = 1">
                        <input name="password" ng-model="comp.identifyCode"
                          class="form-control inline " style="width:50%"
                          placeholder="验证码"  required
                        >

                        <img  ng-src="web/common/identify_img/{{t}}"  class="inline  "  style="width: 130px;height: 30px;">
                        <a class="fa fa-refresh text-info  "  
                           ng-click=" t = t+1" ></a>

                </div>


             <!--   <div class="list-group-item">

                    <input type="password" class="form-control  no-border " name="confirm_password"
                           required ng-model="confirm_password"      placeholder=" 确认密码 "
                           ui-validate=" '$value==password' " ui-validate-watch=" 'password' ">
                </div>-->



                <div ng-show='form.confirm_password.$error.validator'  class="text-danger" >
                   Passwords do not match!
                   </div>
                <div class="text-danger " ng-show=" nameok ">  企业名称已被占用   </div>
                <div class="text-danger " ng-show=" codeok ">  邀请码不可用   </div>

              <!--  <div ng-show=" true " class="text-success text-center " >  注册成功!!</div>-->

          </div>
          <div class="checkbox m-b-md m-t-none">
            <label class="i-checks small">
              <input type="checkbox"  name="check" ng-model="agree" required ><i></i>
                  我已阅读并同意
                   <a href="" target="_"  style="text-decoration: underline;"> &lt;&lt;ThingLinx工业云使用条款&gt;&gt;</a>
                   
            </label>
          </div>
            <!--     {{form.$valid }}    <br>
                {{form.check.$error}}  <br>
                   {{ form | json }}    <br>
                   {{  isdupname  }}  -  {{  form.$valid   }}     <br>
                   {{   (isdupname ==false)  && form.$valid      }}
       -->
          <button type="submit" class="btn btn-lg btn-primary btn-block" 
                ng-show="!sign"
                ng-click="signup()"   ng-disabled=' !form.$valid  || nameok || codeok ' 
                >注册</button>
           

          <button   class="btn btn-lg btn-success btn-block" 
                ng-show="sign"
                   >注册成功</button>
           
    

<!--          <button type="submit" class="btn btn-lg btn-primary btn-block"
                ng-click="signup()"   ng-disabled='  ! ((isdupname ==false)  && form.$valid )   ' >注册</button>
           -->

          <div class="line line-dashed"></div>
          <p class="text-center"><small>Already have an account?</small></p>
          <a ui-sref="access.signin" class="btn btn-lg btn-default btn-block">返回登录</a>
        </form>
      </div>
      <div class="text-center" ng-include="'athena/page_footer.html'"></div>
    </div>