<!--<div class="popover top"    id="tip_dom"  ng-show=" tip_params || tip_msg || tip_msg==0  "
     style="left: -300px"     >-->

<scprit   type="text/ng-template"    id="tip.html"  >

    <div class="arrow"></div>
    <div class="popover-inner">
        <!-- <h3 class="popover-title" translate="参数"></h3>-->
        <!--  {{tiptype}} <br>
         {{tip_params || tip_msg}}-->
        <div ng-if="true">
            {{tiptype}}
           <!--  根据 type (drivertype ,version )  翻译; -->
        </div>

        <table class=" table-bordered" ng-if="tip_params">

            <tr ng-repeat="(k,v) in tip_params ">
                <td  style="min-width:100px; ">  {{ "params."+k | translate }}</td>
                <td  style="min-width:100px; ">  {{ k|driverValueTrans:v:type:version  }}</td>  
            </tr>

        </table>

        <div style="padding: 3px 8px 0 8px"> {{tip_msg+''}}</div>

        <!-- <div class="popover-content text-center ">
             <div ng-repeat="(k,v) in tip_params ">
                  {{ "params."+k | translate }} : {{v}}
             </div>
             {{tip_msg}}
         </div>-->
    </div>
</scprit>




