 
<!--jjw background-->
<div class="panel-heading b-b-none p-t-0 p-b-0"  
 style="background-color: #eff3f4">
    <div class="row  " style="padding-bottom:5px;"> 
 





        <div class="col-md-4 col-xs-6 m-t-xs">
            <input tl-wrap-l class="input-sm input-s" label="名称" ng-model="od.name"> </input>
        </div>
        <div class="   col-md-4 col-xs-6  m-t-xs">
            <input tl-wrap-l class="input-sm input-s" label="ID" ng-model="od.uuid">

            </input>
        </div>
        <div class="col-md-4 col-xs-6 m-t-xs" ng-if=" $state.includes('app.station') || $state.includes('app.show.system') ">
            <!--jjw height-->
            <select tl-wrap-l style="height: 24px;line-height: 24px" class="input-sm input-s" label="区域" ng-model="od.region_id" ng-options="  r.id as r.name for r in  regions">
                <option value="">-所有区域-</option>
            </select>
        </div>
        
        <div class="col-md-4 col-xs-6 m-t-xs">
            <!--jjw height-->
            <select tl-wrap-l style="height: 24px;line-height: 24px" class="input-sm input-s" label="模型" ng-model="od.model" ng-options=" s.uuid as s.name for s in  sysModels">
                <option value="">-所有模型-</option>
            </select>
        </div>
        <div class="col-md-4 col-xs-6 m-t-xs">
            <input tl-wrap-l class="input-sm input-s" label="备注" ng-model="od.desc"></input>
        </div>
        <div class="col-xs-12 m-t-xs">
            <!--jjw float-right-->
            <button class="btn btn-sm btn-info m-l w-xs float-right" ng-click=" loadPageData(1)"> 搜索</button>
            <button class="btn btn-sm btn-info m-l w-xs float-right" ng-click="  reset() "> 复位 </button>
        </div>
        <!--
          <div class="col-md-4 col-xs-6 m-t-xs">
            <select tl-wrap-l  class="input-sm input-s" label="状态" ng-model="od.state">
                <option value="">-所有状态-</option>
            </select>

        </div>
         -->
    </div>
 
    <!--jjw bg m-t-->
    <div class="row bg-white m-t-sm">
        <!--jjw margin-top margin-bottom-->
        <div class="radio     float-right  w-xxm m-t-md m-b-md">
            <label class="i-checks">
                <input type="radio"   value="map" checked="" ng-model=" op.lm ">
                <i></i> 
                <span>地图</span>
            </label>
        </div>
        <!--jjw margin-top margin-bottom-->
        <div class="radio      float-right  w-xxm m-t-md m-d-md " style="margin-top: 20px">
            <label class="i-checks">
                <input type="radio"   value="list" 
                        ng-model="op.lm">
                <i></i>
                <span>列表</span>
            </label>
        </div>
    </div>
</div>
 
 
<div class="panel-body b-t-none table-responsive  no-padder   b-t " ng-switch on="op.lm">

    <!--jjw table-striped j_table-->
    <table ng-switch-when="list" class=" table  table-hover  table-striped j_table"> 
        <thead class="flip-content">
            <tr>
                <th width="5%" translate="th.th6">状态</th>
                <th width="20%" translate="th.th7">系统名称</th>
                <th width="10%">ID</th>
                <!--<th   translate="dastation_grid.deviceno"   >设备号</th>-->
                <th width="10%" translate="th.th8">区域</th>
                <!--    <th   translate="dastation_grid.level"  >级别</th>-->
                <th width="10%" ttranslate="th.th9"> 定位</th>
                <th width="15%" translate="th.th11" ng-if=" !isShowModul  ">
                    同步配置 </th>
                <th width="20%">备注</th>
                <th width="15%" ng-if=" !isShowModul"></th>
            </tr>
        </thead>


 
<!--  未设置:灰,  在线 :绿 ,, 离线:红,  故障:橙色
 unset,online,offline,comm_failure
  --> 
   
    <tbody class="text-center">
            <tr ng-repeat="  das  in page.data " class=" ">
                <td class="">
                    <i class="fa fa-circle " 
                    ng-class="{ 
                        'text-danger':  das.online ==0 , 
                        'text-success': das.online ==1,
                        'text-warning': das.online ==2 
                     }"  
                     > </i>
                    <!-- 在线  ng-class = "{'alert-danger':  das.state == 0 }" -->
                </td>
                <td>
                    <a class="text-info-dk" ng-click="goto( _$stationState , das , das )">

                            {{ das.name }}

                        </a>
                </td>
                <td>{{ das.uuid }}</td>


                <td>
                    <a class="text-info-dk" ng-disabled="true" ng-click=" goto( _$projState  , rg_k_v[ das.region_id] , rg_k_v[ das.region_id] ) ">
                        {{ rg_k_v[ das.region_id].name }}
                    </a>
                </td>
                <!-- 级别-->
                <!-- <td>
                        <a  class="text-info-dk"     ui-sref="app.proj_prop.station({ projid : das.levleid })"  >
                            {{ das.level }}
                        </a>
                    </td>-->
                <!--gps-->
                <td>
                    <a ng-click=" goto( _$mapState, das , das  )">
                        <span ng-if="das.latitude" class="fa fa-location-arrow text-success">

                             </span>
                        <span ng-if=" !das.latitude && !isShowModul  " class="label bg-info m-l-sm  ng-scope">
                                   去定位
                             </span>
                    </a>
                </td>
                <!--      <td ng-if = " !isShowModul "> {{ das.needsync?'是':'否'}}</td> -->
                <!--同步-->
                <td ng-if=" !isShowModul   ">
                    <!--{{ das.needsync }}-->
                    <!-- <span >已同步 </span>-->
                    <button class="btn btn-xs btn-primary  m-t-n-xs" ng-click="syncSystem( das )" ng-if=" das.needsync ">
                        同步
                    </button>
                    <span ng-show=" !sync_start && sync_err_msg " class=" m-t-xs text-danger">  {{ sync_err_msg }} </span>
                    <span ng-show=" !sync_start && sync_ret_msg " class=" m-t-xs text-info">
                             {{ sync_ret_msg }}
                        </span>
                    <i ng-show=" sync_start " class="fa fa-spin fa-spinner "></i>
                    <!--   <div  class="progress progress-sm progress-striped   m-t-xs m-b-none">
                               <div class="progress-bar bg-success "
                                    ng-class="{'my_progress':true}"
                                       ></div>
                           </div>
                        -->
                </td>
                <td>
                    {{das.desc}}
                </td>
                <!--替换 失效 移除-->
                <td ng-if=" !isShowModul ">
                    <a class="text-info-dk m-r-xs" ng-if="das.state ==1 " translate="bu.bu2" ng-click=" effStation(page.data , das  ,$index ) ">失
                        </a>
                    <a class="text-info-dk m-r-xs" ng-if=" das.state ==0 " ng-click=" activateStation( this, page.data , das , $index  , true ) ">
                           激活
                        </a>
                    <a class="text-info-dk m-r-xs" ng-if="das.state ==2 " ng-click=" startSystem( das , page.data , $index ) ">启动
                        </a>
                    <a class="text-info-dk m-r-xs" ranslate="bu.bu3" ng-click=" editStation( this , das , $index  ) ">编辑
                        </a>
                    <a class="text-info-dk m-r-xs" translate="bu.bu4" ng-click=" delStation( page.data  ,das , $index  ) ">移
                        </a>
                </td>
            </tr>
        </tbody>
    
    </table> 
    <div ng-switch-when="map" id="bdmap" ng-init=" initMap(); ">  </div>
</div>  

<div class="panel-footer ">
    <!--jjw m-t m-d-->
    <button ng-if=" !isShowModul " class="btn btn-info  dker btn-sm   m-l  pos-abt m-t m-b" ng-click=" goto('app.station.add' , null , project ) ">
        添加系统
    </button>
    <!--jjw m-t m-d-->
    <div class=" text-center m-t m-b" ng-include src=" 'athena/debris/_pager.html'  "></div>
    <!-- 只有 app.proj.prop 路由  才显示   -->
</div>

<style>
</style>