<div class="  panel-heading   " ng-init=" list_map = 'list' ; a = 1 ;  ">
    <div class="row b-b " style="padding-bottom:5px;">
        <div class="col-md-4 col-xs-6 m-t-xs">
            <input tl-wrap-l class="input-sm" label="名称" ng-model="od.name"> </input>
        </div>
        <div class="   col-md-4 col-xs-6  m-t-xs">
            <input tl-wrap-l class="input-sm" label="ID" ng-model="od.uuid">
            </input>
        </div>
        <div class="col-md-4 col-xs-6 m-t-xs" ng-if=" $state.includes('app.station') || $state.includes('app.show.system') ">
            <select tl-wrap-l class="input-sm" label="区域" ng-model="od.region_id" ng-options="  r.id as r.name for r in  regions">
                <option value="">-所有区域-</option>
            </select>
        </div>
        <div class="col-md-4 col-xs-6 m-t-xs">
            <select tl-wrap-l class="input-sm" label="模型" ng-model="od.model" ng-options=" s.uuid as s.name for s in  sysModels">
                <option value="">-所有模型-</option>
            </select>
        </div>
        <div class="col-md-4 col-xs-6 m-t-xs">
            <input tl-wrap-l class="input-sm" label="备注" ng-model="od.desc"></input>
        </div>
        <div class="col-xs-12 m-t-xs">
            <button class="btn btn-sm btn-info m-l w-xs" ng-click=" loadPageData(1)"> 搜索</button>
            <button class="btn btn-sm btn-info m-l w-xs" ng-click="  reset() "> 复位 </button>
        </div>
        <!--
          <div class="col-md-4 col-xs-6 m-t-xs">
            <select tl-wrap-l  class="input-sm" label="状态" ng-model="od.state">
                <option value="">-所有状态-</option>
            </select>

        </div>
         -->
    </div>
    <div class="row  ">
        <div class="radio     float-right  w-xxm     ">
            <label class="i-checks">
                <input type="radio" name="a" value="map" checked="" ng-model=" list_map">
                <i></i>
                <span>地图</span>
            </label>
        </div>
        <div class="radio      float-right  w-xxm    ">
            <label class="i-checks">
                <input type="radio" name="a" value="list" checked="" ng-model=" list_map">
                <i></i>
                <span>列表</span>
            </label>
        </div>
    </div>
</div>
<div class="panel-body  table-responsive  no-padder   b-t " ng-switch on="list_map">
  
    <table ng-switch-when="list" class=" table  table-hover  table-bordered ">
        <thead class="flip-content">
            <tr>
                <th width="5%" translate="th.th6">状态</th>
                <th width="10%">ID</th>
                <th width="10%" translate="th.th7">系统名称</th>
                <!--<th   translate="dastation_grid.deviceno"   >设备号</th>-->
                <th width="10%" translate="th.th8">区域</th>
                <!--    <th   translate="dastation_grid.level"  >级别</th>-->
                <th width="10%" ttranslate="th.th9"> 定位</th>
                <th width="15%" translate="th.th11" ng-if=" !isShowModul  ">
                    同步配置 </th>
                <th width="30%">备注</th>
                <th width="15%" ng-if=" !isShowModul"></th>
            </tr>
        </thead>
        <tbody class="text-center">

        </tbody> 
    
    </table> 
    <div ng-switch-when="map" id="bdmap" ng-init=" initMap(); ">  </div>
</div>
<div class="panel-footer ">
    <button ng-if=" !isShowModul " class="btn btn-info  dker btn-sm   m-l  pos-abt " ng-click=" goto('app.station.add' , null , project ) ">
        添加系统
    </button> 
    <div class=" text-center " ng-include src=" 'athena/debris/_pager.html'  "></div>
    <!-- 只有 app.proj.prop 路由  才显示   -->
</div>
