<div class=" bg-light  bg  panel-body     no-padder ">
    <div class="col-md-8 col-xs-12   text-left   m-b m-t">
        <!--     <div class="form-group">      </div>   -->
        <label class="col-md-3 col-md-offet-1 control-label m-t-xs">配置项</label>
        <div class="col-md-8">
            <select ng-model="profile" class=" form-control    " ng-options="   p as p.name for p in profiles  " ng-change="toUpdate('profile')" required>
            </select>
            <span class="help-block m-b-none  m-b-xs" ng-show=" profile.desc">
                        <i class="fa  fa-warning  text-success pos-rlt"></i>
                         {{profile.desc}} 
            </span>
        </div>
        <div class="col-md-9 col-md-offset-3 m-t-xs">
            <span class="text-danger" ng-show=" needUpdate.profile ">
                            <button  class=" btn btn-sm   w-xs btn-primary "
                                     ng-click = "  updateSystem( 'profile' );  "
                                     >
                                  保存
                            </button>
                            <i class="fa  fa-exclamation-triangle  "></i>
                             编辑完成后请保存网络参数
                        </span>
            <span ng-show=" hasSave.profile ">
                           <strong  class= "text-info  ">
                           <i class="fa  fa-thumbs-o-up "></i> <span>保存成功!</span> </strong>
            </span>
        </div>
        <!--  就 托管的 daServer 不用  box ticket-->
        <div ng-if="  nT ">
            <label class="col-md-3 col-lg-offet-1 control-label m-t-xs">SN</label>
            <div class="col-md-8  ">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="t.sn" ng-disabled="t.ticket">
                    <span class="input-group-btn">
                        <button class="btn btn-default w-xs" type="button"
                            ng-disabled=" t.ticket  "
                            ng-click="createTicket()">注册</button>
                        </span>
                </div>
            </div>
            <label class="col-md-3 col-lg-offet-1 control-label m-t-xs">Ticket</label>
            <div class="col-md-8 m-t-xs">
                {{ t.ticket || "无Ticket !" }}
                <!--  <a class = "fa fa-copy text-success"></a> -->
            </div>
            <!--@if append -->
            t = {{t}}
            <!--@endif -->
        </div>
    </div>
    <div class="line b-b"></div>
    <!--   托管  daserver  模式   sysmodel.mode ==1 &&  sysmodel.comm_type == 1  -->
    <div class="  text-left m-t-xs m-b   " ng-if=" !nT ">
        <h5 class="m-l-xs"> 网络参数 </h5>
        <ng-include src="  'athena/dastation/_prop_daserver_network.html'  "></ng-include>
    </div>
    <!--
    <div class="line b-b " ng-if=" sysmodel.comm_type == 1   "></div>
    
 -->
    <!--  <div class="panel-body table-responsive no-padder">
    托管模式: ==>  daserver 类型;
-->
    <div class=" table-responsive m-t" ng-if=" sysmodel.mode ==1 && sysmodel.comm_type ==2   ">
        <h5 class="m-l"> 网关配置</h5>
        <ng-include src="  'athena/dastation/_prop_gateway_gateway.html'  "></ng-include>
    </div>
    <!--
    <div class="line b-b " ng-if="sysmodel.comm_type ==2   "></div>
 -->
    <div class=" table-responsive  m-t " ng-if=" sysmodel.devices.length && sysmodel.mode ==1 && sysmodel.comm_type ==2 ">
        <h5 class="m-l"> 设备网络参数   </h5>
        <ng-include src="  'athena/dastation/_prop_gateway_device.html'  "></ng-include>
    </div>
    <div class="line b-b"></div>
    <div class="col-md-4  col-xs-6   text-left  ">
        <span>上次配置更新</span>
    </div>
    <div class="col-md-8 col-xs-6   ">
        {{ station.last_modify_time| date:"yyyy-MM-dd HH:mm" }}
    </div>
    <div class="col-md-4  col-xs-6 text-left m-t-xs ">
        上次同步
    </div>
    <div class="col-md-8 col-xs-6 m-t-xs ">
        <span class=" ">  {{station.last_sync_time | date:"yyyy-MM-dd HH:mm" }} </span>
    </div>
    <div class="col-xs-4 m-t-sm ">
        <button class="btn  btn-sm btn-success" ng-click="syncSystem( station ) ; " ng-disabled=" sync_start"> 同步配置</button>
        <span ng-show=" !sync_start && sync_err_msg " class=" m-t-xs  text-danger"> {{ sync_err_msg }} </span>
        <span ng-show=" !sync_start && sync_ret_msg " class=" m-t-xs  text-info  ">  {{ sync_ret_msg }} </span>
        <span ng-show=" sync_start ">
            <i  class="fa fa-spin fa-spinner   inline" id="spin" ></i>
                  
        </span>
        <!--  
        <div  class="  m-t-xs">
            <i class="fa fa-spin fa-spinner hide show inline" id="spin"></i>
        </div> 
        -->
    </div>
    <div class=" col-xs-8    m-t-xs ">
        <button class="btn btn-sm btn-info" ng-click="startSystem(  station )"> 启动 </button>
        <button class="btn btn-sm btn-info" ng-click="d_stop()"> 停止 </button>
        <!--  <button class="btn btn-sm btn-info" ng-click="d_call( station )"> 召唤实时 </button> -->
    </div>
</div>
