<!--jjw bg-white text-base-->
<div class=" panel-body bg-white b-r b-b b-l text-base">
    <!--jjw padder-md-->
    <div class="col-md-5  m-b padder-md">
        <!--jjw text-align-->
        <div class="b-b line-dashed  jbox  hbox ">
            <div class="col w-sm  "> 系统Id </div>
            <div class="col text-right  color-5"> {{station.uuid }} </div>
        </div>
        <div class="b-b line-dashed  jbox  hbox ">
            <div class="col w-sm  "> 系统名称 </div>
            <div class="col text-right  color-5"> {{station.name }} </div>
        </div>
        <div class="b-b line-dashed  jbox  hbox ">
            <div class="col w-sm  "> 活跃状态 </div>
            <div class="col text-right  color-5"> {{ station.state == 1 ? "激活":"未激活" }} </div>
        </div>
        <div class="b-b line-dashed  jbox  hbox ">
            <div class="col w-sm  "> 在线状态 </div>
            <div class="col text-right  color-5"> {{s }} </div>
        </div>
        <div class="b-b line-dashed  jbox  hbox ">
            <div class="col w-sm  "> 时区 </div>
            <div class="col text-right  color-5"> </div>
        </div>
        <div class="b-b line-dashed  jbox  hbox ">
            <div class="col w-sm  "> 创建时间 </div>
            <div class="col text-right  color-5"> {{ station.create_time | date:"yyyy-MM-dd HH:mm Z" }} </div>
        </div>
        <div class="b-b line-dashed  jbox  hbox ">
            <div class="col w-sm  "> 配置同步状态 </div>
            <div class="col text-right  color-5"> {{station.needsync }} </div>
        </div>
        <div class="b-b line-dashed  jbox  hbox ">
            <div class="col w-sm  "> 上次同步时间 </div>
            <div class="col text-right  color-5"> {{ station.last_modify_time | date:"yyyy-MM-dd HH:mm Z" }} </div>
        </div>
        <div class="b-b line-dashed  jbox  hbox ">

            <div class="col w-sm  "> 使用的模型 </div>
            <div class="col text-right  color-5"> {{ sysmodel.name }} </div>
        </div>
        <div class="b-b line-dashed  jbox  hbox ">

            <div class="col w-sm  "> 系统类型 </div>
            <div class="col text-right  color-5"> {{$sys.sysModelMode.values[sysmodel.mode] }} </div>
        </div>
        <div class="b-b line-dashed  jbox  hbox ">
            <div class="col w-sm  "> 通讯类型 </div>
            <div class="col text-right  color-5"> {{ sysmodel.comm_type == 1 ? 'DaServer':'GateWay' }} </div>
        </div>
        <div class="b-b line-dashed  jbox  hbox ">
            <div class="col w-sm  "> 系统描述 </div>
            <div class="col text-right  color-5"> {{station.desc }} </div>
        </div>
        <div class=" jbox  hbox ">
            <div class="col w-sm  "> 位置 </div>
            <div class="col text-right  color-5"> {{  (station.longitude ||'')  +' '+ (station.latitude || '') }} </div>
        </div>
        <!-- 

                <div class="b-b m-b">创建时间: {{station.create_time | date:"yyyy-MM-dd HH:mm Z" }} </div>


                <div class="b-b m-b"> 系统类型 : {{ $sys.sysModelMode.values[sysmodel.mode]  }} </div>

                <div class="b-b m-b"> 通信类型 : {{ sysmodel.comm_type  }}</div>

                <div class="b-b m-b"> 网络类型 : {{ station.network.daserver.network.type}} </div>

                <div class="b-b m-b"> 系统模型 : {{ sysmodel.name}}</div>


                <div class="b-b m-b"> 位置 : {{ station.longitude  +' , '+ station.latitude}}</div>
                <div class="b-b m-b"> 活跃状态 : {{ station.state?'激活':'未激活'  }} </div>
                <div class="b-b m-b"> 在线状态: {{ station.}}</div>
                <div class="b-b m-b"> 数据最后更新时间 :
                         {{ station.last_modify_time | date:"yyyy-MM-dd HH:mm Z"}}</div>
                <div class="b-b m-b">
                 数据最后同步时间 : {{ station.last_sync_time | date:"yyyy-MM-dd HH:mm Z"}}</div>
                <div class="b-b m-b"> 最近报警:</div>
 -->
    </div>
    <div class="col-md-6  m-l gap-5 float-right" style="height: 400px;width: 500px;">
        <!--jjw 添加div-->
        <!--<div ng-show="!system.pic_url" style="width: 100%;height: 100%;font-size: 45px;text-align: center;line-height: 400px;">-->
            <!--500*400-->
        <!--</div>-->
        <img ng-src="{{ station.pic_url?( ossRoot + station.pic_url):'img/system_null.png'  }}" class="pag-5" style="width:500px; height:400px">
        <form class="hbox m-t" style="width:500px;">
 
            <label class="col m-t-xs w-xsl p-t-5">上传系统图片</label>

            <!--jjw col-md-7-->
            <div class="col col-md-7">
                <!--  
                    <input ui-jq="filestyle" type="file"  multiple     ng-model= " file.file "
                       data-icon="false" data-classButton="btn btn-default"
                       data-classInput="form-control inline v-middle input-s">
                  -->
                <input ui-jq="filestyle" type="file" id="file_sys"
                         ng-model-instant class="input-sm"
                         onchange="angular.element(this).scope().setFiles(this)"

                  />


                <div style="height:10px;">
                    <progressbar class="progress-xs active m-b-sm m-t-xxs" ng-show="progressVisible" value="progress" type="success"> {{progress}}%
                    </progressbar>
                </div>
                <div class="text-muted">支持不超过500K的jpeg,png,jpg格式图片!</div>
                <div ng-show="!op.rightfile" class="text-danger "> 文件过大! </div>

            </div>
            <!--jjw bottom移动-->
            <button class="btn btn-info btn-sm  btn-l m-l-md"  ng-click="uploadFile()" ng-disabled=" ! op.rightfile "> 上传 </button>
        </form>
    </div>
</div>

<!--jjw 注释-->
<!--&lt;!&ndash;@if append &ndash;&gt;-->
<!--station = {{station}}-->
<!--<hr/> sysmodel =={{ sysmodel }}-->
<!--<hr/>-->
<!--&lt;!&ndash;@endif &ndash;&gt;-->
