<!--jjw bg-white b-l b-r-->
<div class="panel-header bg-light bg-white b-l b-r">
    <!--jjw padder-->
    <form class=" form-validation   form-inline padder">
        <!--div.row-->
        <div class="row">
            <!--jjw div-->
            <div class="col-md-4 col-sm-6 col-xs-12 m-t ">
                <div class="inline col-xs-12 padding-0">
                    <label class="col-sm-3 col-xs-12 float-left">
                        <span class="w-xs">搜索</span>
                    </label>
                    <div class="col-sm-9 col-xs-12 float-right">
                        <input type="text" id="suggestId" class="form-control input-sm " />
                    </div>
                </div>
                <div id="searchResultPanel" style="border:1px solid #C0C0C0 ;height:auto; display:none;">
                </div>
            </div>
            <!--jjw div-->
            <div class="col-md-5 col-sm-6 col-xs-12 m-t">
                <div class="inline col-xs-6 text-left">
                    <label>纬度</label>
                    <input ng-model=" station.latitude " class="form-control inline  input-sm w-map  border">
                </div>
                <div class="inline col-xs-6 text-right">
                    <label>经度</label>
                    <input ng-model=" station.longitude" class="form-control inline input-sm w-map  border">
                </div>
            </div>
            <!--jjw div-->
            <div class="col-md-3 col-sm-6 col-xs-12 m-t m-b float-right">
                <button class="btn btn-success btn-sm m-r-sm float-right" ng-click=" locatedStation()" token>
                    定位 {{ station.name }}
                </button>
            </div>
        </div>


    </form>
</div>

<!--jjw no-radius-->
<div class="panel-body  well m-b-none no-radius" id="station_map" ng-init="createMap()"></div>
