
 

 <div class="panel-heading   w-full  " ng-if="isModelState">
     <!--jjw 添加div-->
     <div class="form-group m-t-sm m-b-sm m-l-xs">
         <span style="margin-right: 30px"> 配置项 </span>
         <select ng-model="odp.puuid" class=" input input-sm w"
          ng-options="   p.uuid as p.name for p in profiles  " ng-change="loadSysTag( odp.puuid  )"></select>
     </div>
</div>
 

 <!--jjw b-b-none-->
<div class="panel-body    table-responsive no-padder b-t-none b-b-none">
    <!--jjw j_table-->
  <table class=" table   table-striped j_table b-t-none">
        <thead class="flip-content">
            <tr class="background ">
                <th> 变量名称 </th>
                <th> 设备 </th>
                <th> 类型 </th>
                <th> 缩放 </th>
                <th> 偏差 </th>
                <th> 单位 </th>
                <th> 保存日志 </th>
                <th> 日志间隔(秒) </th>
                <th> 日志类型 </th>
                <th width="15%"> 备注 </th>
                <th ng-if="isModelState"> 操作 </th>
            </tr>
        </thead>
        <tbody class="text-center  " ng-init="_$type = $sys.log_type.values">
            <tr ng-repeat="  tag  in systags  " ng-init="getDevName(tag , this )">
                <td> {{tag.name}}</td>
 
               <!-- 
                getDevname (); 1:看是否有连接; 若没有 则 type 设置为null ; 2:设置是否真的连接了设备; 3: 是否真的 连接了模版点;
               -->
                <td style="background-color: {{  dev_name || 'grey' }}">{{ dev_name }} </td>
                <td> {{tag.type}}</td>
                <td> {{tag.scale}}</td>
                <td> {{tag.deviation}}</td>
                <td> {{tag.unit}}</td>
                <td>
                    <i ng-if="tag.save_log" class="glyphicon glyphicon-ok text-success"></i>
                </td>
                <td> <span ng-show="tag.save_log">{{tag.log_cycle }}  </span> </td>
                <td> <span ng-show="tag.save_log"> {{ _$type[tag.log_type] ||'RAW' }}  </span> </td>
                <td> {{ tag.desc||"" }} </td>
                <td ng-if="isModelState">
                    <a class="text-link m-r-xs" ng-click="updateTag(  $index  , tag , this  )">编辑</a>
                    <a class="text-link m-r-xs" ng-click="add_update_Log(  $index  , tag   )"> 配置</a>
                    <a class="text-link m-r-xs" translate="bu.bu4" ng-click="deleteTag(  $index  , tag   )">移除</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div class="panel-footer b-t-none b-b b-l b-r">
    <!--jjw m-t-sm m-b-sm-->
    <button class="btn btn-success btn-sm m-t-sm m-b-sm" ng-click=" addTag('add') ">
        添加变量
    </button>
</div>  