

<!--jjw 注释-->
<!--&lt;!&ndash;@if append &ndash;&gt;-->
<!--hasProfile =={{hasProfile}}-->
<!--&lt;!&ndash;@endif &ndash;&gt;-->


<!--jjw b-b-none-->
<div class="panel-body table-responsive no-padder b-t-none b-b-none">
    <!--jjw j_table 去掉table-bordered b-t-none-->
    <table class=" table table-striped  j_table b-t-none">
 
        <thead class="flip-content">
            <tr class="background ">
                <th> 名称 </th>
             <!--    <th> 变量数目</th> -->
                <th> 触发器数目</th>
                <th> <a translate="th.th3">创建时间  </a> </th>
                <th> <a> 最后更新时间 </a></th>
                <th>
                    备注
                </th>
                <th> 操作 </th>
            </tr>
        </thead>
        <tbody class="text-center ">
 
            <tr ng-repeat="  prof  in profiles  "  >
                <!--jjw text-center-->
                <td class="text-center"> {{ prof.name }} </td>
                
               <!--  <td> {{ prof.tag_count || 0 }} </td> -->


                <td> {{ prof.trigger_count || 0 }} </td>
                <!--  | date:"yyyy-MM-dd HH:mm" -->
                <td class="numeric "> {{ prof.create_time | date:"yyyy-MM-dd HH:mm  Z"}} </td>
                <td class="numeric "> {{ prof.last_modify_time| date:"yyyy-MM-dd HH:mm  Z" }} </td>
                <td class="numeric "> {{ prof.desc }} </td>
                <td>
                    <a class="text-info" translate="bu.bu3" ng-click="updateSysProfile( this, $index, prof )">编辑</a>
                    <a class="text-info" translate="bu.bu4" ng-click="deleteSysProfile( this, $index, prof)"> delete </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!--jjw b-l b-r b-b-->
<div class="panel-footer b-t-none b-l b-r b-b">
    <!--   <ng-include  src=" 'athena/debris/_pager.html'  "></ng-include> -->
    <!--jjw m-t-sm m-b-sm-->
    <button class="btn btn-primary btn-sm w-94 m-t-sm m-b-sm  " ng-click=" addSysProfile() ">
        添加系统配置
    </button>
</div>

<!--jjw 注释-->
<!--&lt;!&ndash;@if append &ndash;&gt;-->
<!--sysmodel =={{sysmodel}}-->
<!--&lt;!&ndash;@endif &ndash;&gt;-->