

<input tl-wrap-l label="用户名" ng-model=" user.username  " required>



<!-- 是否更改密码 -->
<div class="form-group " >
    <label class="col-sm-3   control-label  ">
        <span>更改密码</span>
    </label>
    <div class=" col-sm-9">
        <label class="i-checks m-t-xs">
            <input type="checkbox"  ng-model="op.ccpass">
            <i></i>
        </label>
    </div>
</div>




<div ng-if="op.ccpass">
    <input  tl-wrap-l  label="新密码" name="password"
       ng-minlength="6"
       ng-maxlength="20"
       onfocus="this.type='password'" 
       ng-model=" user.password " required>

</div> 



<div class="form-group" ng-if="!op.isEdit">
    <label class="col-sm-3  control-label text-base">
        密码
        <mark/>
    </label>
    <div class="  col-sm-9">
        <input type="password" placeholder="密码(至少六位)" name="password"
            ng-maxlength="20" ng-minlength="6" class="form-control "
             ng-model=" user.password " required>
    </div>
</div>


<div class="form-group" ng-if="!op.isEdit">
    <label class="col-sm-3  control-label text-base">
        确认密码
        <mark/>
    </label>
    <div class="  col-sm-9">
        <input type="password" class="form-control  "
         name="confirm_password" required
          ng-model="op.confirm_password" placeholder=" 确认密码 " 
          ui-validate=" '$value==user.password' ">
    </div>
</div>


 
<!-- 
<select   tl-wrap-l  label="接收邮件通知"  ng-model="user.mail_notice"
          ng-options =" o.v as o.k  for o in $sys.yesOrNo"   
    ></select>
<select  tl-wrap-l  label="接收短信通知"  ng-model="user.sms_notice" 
          ng-options =" o.v as o.k  for o in $sys.yesOrNo"    
    ></select>
 -->

<!-- 是否 验证手机 -->
<!-- <div class="form-group "  >
    <label class="col-sm-3   control-label  ">
        <span>验证手机</span>
    </label>
    <div class=" col-sm-9">
        <label class="i-checks m-t-xs">
            <input type="checkbox"  ng-model="op.verifyPhone">
            <i></i>
        </label>
    </div>
</div> -->

<!-- 
 ng-pattern="/^1\d{10}$/"
  -->
  
 
<input tl-wrap-l label="手机号码" ng-model="user.mobile_phone"   ng-pattern="/^1\d{10}$/" >
<input tl-wrap-l label="电子信箱" ng-model="user.email"   type="email"
    ng-disabled = " user.is_super_user"

>


<input tl-wrap-l label="地址" ng-model="user.address">
<textarea tl-wrap-l label="备注" ng-maxlength='100' ng-model="user.desc">
</textarea>


<!--&lt;!&ndash;@if append &ndash;&gt;-->
<!--od.groups =={{  od.groups }}-->
<!--&lt;!&ndash;@endif &ndash;&gt;-->
