<div class="modal-header ">
    <h4>添加区域权限</h4>
</div>
<div class="modal-body  ">
    <form name="form" class=" form-validation form-horizontal   ">

        <select tl-wrap 
            ng-model="od.region_id"
        	label="区域"
        	required
        	ng-options=" re.id as re.name for re in regions">
            <option value="">-请选择区域-</option>
        </select>

         <select tl-wrap 
            ng-model="od.role"
        	label="角色"
            required
        	ng-options = " r as r.name for r in  roles| filter:{'role_category': 1 } "
        	>
            <option value="">-请选角色-</option>
        </select>
 

        <div class="form-group">
            <div class="col-sm-3 col-sm-offset-1">
                权限 
            </div>
             <div class="col-sm-8  ">

                <a  class="badge bg-info"  ng-repeat="p in  od.role.privilege"  translate={{p}} >
                            
                </a> 


               <!--  <label class="checkbox i-checks inline w-sm m-l"
                    ng-repeat =  " a in $sys.regionP  ">
                    <input type="checkbox"
                        name = {{a}}
                        disabled=""  
                        ng-checked=" au.role.privilege.indexOf(a) + 1 "  >
                    <i></i>
                    <span  translate="{{a}}" ></span>
                </label>
 -->


            </div>
        </div>

 


    </form>
</div>
<ng-include src=" 'athena/debris/_modal_footer.html' "></ng-include>
