<!-- <div class="panel-body bg-light   table-responsive no-padder no-border gap-5"> -->
<div class="panel-body table-responsive   padding-15"  load-mask>
    <div ng-repeat='r in page.data ' ng-init=" op ={} ">
        <!--jjw 去掉my-bg-info-->
        <div class=' b-b temp-row border' ng-click='op.show = !op.show ' style="height: 40px;line-height: 2.5;border-radius: 2px;background-color: #F6F8F7;margin-top: 6px;">
            <!--jjw i-->
            <!--<i class="m-l-xs  fa" ng-class="{ 'fa-plus-square-o': !op.show , 'fa-minus-square-o':op.show  }"></i>-->
            <i style="display: inline-block;width: 10px" class="fa m-l-sm" ng-class="{'fa-angle-down': op.show, 'fa-angle-right': !op.show}"></i>
            <span>{{r.name }}</span>
        </div>


        <div ng-if=" op.show " class="well m-b-none"
                ng-init=" loadPermission( this.$parent , r ); " >

            <div ng-repeat= " g in groups"  class="b-b" ng-init="op ={}">

                  {{g.name}}  
                 <!-- <i class="fa  fa-toggle-up  fa-toggle-down" ui-toggle-class= '' target="" ></i>  -->
                 <!--
                   fa-times-circle-o 
                    fa-minus-circle 
                  -->

                 <a class="fa fa-times-circle  text-danger m-l-xs"
                    ng-click=" delGroup( this , r, groups , g, $index )"   ></a>

                  <a class="fa fa-save text-danger " ng-show="op.edit"
                     ng-click="updateProm(this,r , g , $event.target )"></a>

                <br/>
                <form>
                    <label class="checkbox i-checks  inline m-r w-sl m-l" ng-repeat=' a in $sys.regionP'>
                        <input type="checkbox"
                         name ={{a}}
                          ng-checked=" g.privilege.indexOf(a) +1 "
                          ng-click="op.edit=true"
                          >
                        <i></i> <span translate={{a}}></span>
                    </label>
                </form>
            </div>
            <!--jjw m-l m-t m-b-->
            <a  class="btn btn-sm w-70 btn-primary  m-l-sm m-t-sm m-b-sm" ng-click="addAuthor( this , page.data , r ) " > 添加权限</a>

        </div>

    </div>
</div>

<div class="panel-footer">
    <!--jjw m-t m-b-->
     <div  class="text-center m-t-sm m-b-sm height-30" ng-include src=" 'athena/debris/_pager.html'  "></div>
</div>



<!--@if append -->
<!-- regionRoles = {{regionRoles}} -->
<!-- <hr/> -->

<!-- allgroups ={{allgroups}} -->
<!--@endif -->
