
<div class="modal-header ">
    <h4  >添加角色</h4>
</div>

<div class="modal-body  ">

    <form name="form" class=" form-validation form-horizontal   ">

		<input  tl-wrap ng-model="r.name" required  label="角色名称"  >

  
        <!--jjw m-b-->
		<div class="row m-b"   >
				<div class="col-sm-3 col-sm-offset-1">
					权限
				</div>
			    <div class="col-sm-8 ">
			    	<label class="checkbox i-checks inline w-sm m-l"  ng-repeat =  " a in promise">
		              <input type="checkbox"  ng-model="r.authors[ a]" ><i></i>
		              <span translate={{a}}></span>
		            </label>

		        </div>

		</div>
		<!--@if append -->
			r ={{r}}
		
		<!--@endif -->
 
		<textarea   tl-wrap  label="权限说明"  ng-model =" r.desc"></textarea>
 


    </form>
</div>

<ng-include src=" 'athena/debris/_modal_footer.html' "></ng-include>


 <!--&lt;!&ndash;@if append &ndash;&gt;-->
	<!--r = {{r}}-->
 <!--&lt;!&ndash;@endif &ndash;&gt;-->

 


