<div class="panel-body table-responsive  bg-light padding-5">
    <p>账户角色</p>
    <div    ng-repeat='r in accountRoles' ng-init=" op ={} ">
        <div class='row  b-b temp-row  my-bg-info ' ng-class=" {'bg-danger':  op.edit }">
            <div class=" float-left  m-l  w b-r " ng-click='op.show = !op.show '>
                <a class="fa" ng-class="{  'fa-plus-square-o': !op.show ,
                                            'fa-minus-square-o':op.show  }">
                </a>
                {{r.name }}
            </div>

            <div class=" b-l float-right w-sm text-center">
                <a class="text-link" ng-click="delRole(accountRoles , r , $index )" translate="del"> 删除</a>
            </div>
        </div>

        <form ng-if=" op.show " class="well">
            <!--  ng-disabled  =  "r.readOnly"  -->
            <label class="checkbox i-checks  inline m-r w-sl m-l" ng-repeat=' a in promise[0]'>
                <input type="checkbox" 
                       ng-checked=" r.privilege.indexOf(a)+1 " name={{a}}
                       ng-click=" op.edit = true " class="ng-pristine ng-valid" >
                <i></i> <span translate={{a}}></span>
            </label>
            <br/>
            <button class="btn btn-sm btn-info" ng-click="updateRole( $event , r  , accountRoles , $index )" ng-show="op.edit">保存</button>
        </form>


    </div>



    <p>区域角色</p>
    <div ng-repeat='r in regionRoles ' ng-init=" op ={} ">
        <div class='row  b-b temp-row  my-bg-info' ng-class=" {' bg-danger':  op.edit }">
            <div class=" float-left  m-l  w b-r " ng-click=' op.showp = !op.showp '>
                <a class="fa" ng-class="{   'fa-plus-square-o': !op.showp ,
                                               'fa-minus-square-o':op.showp  }"></a>
                {{r.name }}
            </div>
            <div class=" b-l float-right w-sm text-center">
                <a class="text-link" ng-click="delRole(regionRoles , r , $index )" translate="del"> 删除</a>
            </div>
        </div>
        <form ng-if=" op.showp " class="well">
            <label class="checkbox i-checks  inline m-r w-sl m-l" ng-repeat=' a in promise[1]'>
                <input type="checkbox" ng-checked=" r.privilege.indexOf(a) +1 " ng-click=" op.edit = true "
                       name={{a}} class="ng-pristine ng-valid">
                <i></i> <span translate={{a}}></span>
            </label>
            <br/>
            <button class="btn btn-sm btn-info" ng-click="updateRole( $event ,  r  , regionRoles , $index )" ng-show="op.edit">保存</button>
        </form>
    </div>
    <button class='btn m-b-xs m-t-xs  btn-sm  btn-info w-xs' ng-click='addRole( this  )'>添加角色</button>
</div>
