  
<div class="bg-light lter b-b wrapper-md ng-scope">
  <h2 class="m-n font-thin h4">用户管理</h2>
</div>


<div class="wrapper-md">

<div class="panel panel-default">
     
    <div class="panel-heading   ">
        <h5>全部用户</h5>
    </div>
    <!--jjw no-border  table-responsive -->
    <div class="panel-body   no-padder  no-border b-t" load-mask  >

        <!--jjw m-t m-b m-l 去掉col-push-->
        <div class="input-group-sm col-md-5 col-xs-12 m-t m-b m-l-xs">
            <!--<label class="col-md-2 col-sm-12 float-left text-base">-->
                <!--<span style="line-height: 30px"  ng-click=" loadPageData(1)">搜索</span>-->
            <!--</label>-->
            <div class="col-md-8 col-sm-12 col-xs-12">
                <input style="border-radius: 2px" 
                  class="form-control input-sm" type="text"
                       ng-model="f_projname">
            </div>
            <!--<span class="input-group-btn">-->
                <!--<span class="btn btn-default height-30 disabled"     translate="common.search"  ></span>-->
            <!--</span>-->
            <div class="col-md-4 col-sm-12 text-base">
                <button class="btn btn-info btn-sm" 
                ng-click=" loadPageData(1)">搜索</button>
            </div>
        </div>

      

        <!--jjw j_table b-t-none-->
        <table class=" table  table-condensed j_table   ">
            <thead class="flip-content  ">
                <tr>
                    <th style="text-align: left;padding-left: 30px" width="20%">名称</th>
                    <th >昵称</th>
                    <th> 手机有效 </th>
                    <th> 电子邮件有效 </th>
                 <!--    <th> 上次登录IP </th> -->
                    <th> 上次登录时间 </th>
                    <th> 操作 </th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat=" u in page.data"  >

                    <td  class="dropdown"  style="text-align: left;padding-left: 30px">
                          <a  ui-sref = "app.account.userdetail({id: u.id })" class="text-info"> {{ u.username }} </a> 
                   
                    </td>

                    <td     >{{ u.username1 }}

                        <a  class="  glyphicon  glyphicon-edit text-info pos-rlt" 
                            popwin="editUserHtmlUrl"  popdone = ""  model="u.username" ></a>

                   

                    </td>
                    <td> 
                        
                        <i class="fa {{ u.mobile_phone_verified?'fa-check text-success':'fa-times  text-danger' }}"></i>
                        
                    </td>
                    <td> 
                        
                        <i class="  fa {{ u.email_verified?'fa-check text-success':'fa-times  text-danger' }}"></i>
                        
                    </td> 
                    <td> {{u.last_login_time| date:'yyyy-MM-dd HH:mm:ss'}} </td>
                    <td>
                           <a href="" class="text-info" ng-click="delUser( page.data, u , $index)" translate="del">  删除用户</a>
                    </td>
                </tr>
            </tbody>
        </table>

          <!--jjw m-t m-b m-l-sm-->
        <button class="btn btn-primary btn-sm w-70  pos-abt m-b m-t m-l-sm"
              ng-click="  createUser() ">
            添加用户
        </button>
        <!--jjw m-t m-b-->
        <div class="text-center m-b m-t height-30" ng-include src=" 'athena/debris/_pager.html'  "></div>

    </div>

  </div>  
</div>
 
 



 