
<div class="panel-body  no-padder  bg-light bg-white b-t-none">
    <!--jjw 注释-->
    <!--<h4 class="text-center">添加用户组</h4>-->
    <form name="form" panelclass class="form-horizontal form-validation  "> 

        <input tl-wrap-l label="组名" required ng-model=" ug.name ">  

        <textarea tl-wrap-l  label="备注" 
              ng-model=" ug.desc "
              ng-maxlength="100"
             placeholder=" 不应超过100字符" 
          ></textarea>

    </form>

      <div panelclass class="text-center padder"   ng-if=" !isShowModul " >
          <!--jjw col-sm-9 col-offset-->
        <button type="submit" class="btn  btn-success  btn-block-middle w-60 m-b col-sm-9 col-sm-offset-3"
          ng-click=" commit()" token> 保存 </button>
    </div>

</div>
 