
    <div class="panel-body table-responsive  no-padder  no-border" load-mask  >
        <!--jjw j_table b-t-none-->
        <table class=" table  table-condensed j_table b-t-none ">
            <thead class="flip-content  ">
                <tr>
                    <th style="text-align: left;padding-left: 30px">用户名</th>
                    <th> 手机有效 </th>
                    <th> 电子邮件有效 </th>
                    <th> 上次登录IP </th>
                    <th> 上次登录时间 </th>
                    <th> 操作 </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat=" u in page.data"  >
                    <td style="text-align: left;padding-left: 30px">

                       {{ u.username }}

                    </td>
                    <td>
                       <!--  {{u.mobile_phone}} -->
                        
                        <i class="fa {{ u.mobile_phone_verified?'fa-check text-success':'fa-times  text-danger' }}"></i>
                        <!--jjw a-->
                        <a ng-show="!u.mobile_phone_verified" href="" class="text-info" ng-click="verifyUser( u , $index,'phone')"  > 验证 </a>
                    </td>
                    <td>
                        <!-- pull-right -->
                       <!--  {{u.email}} -->
                        
                        <i class="  fa {{ u.email_verified?'fa-check text-success':'fa-times  text-danger' }}"></i>
                        <!--jjw a-->
                        <a ng-show="!u.email_verified" href="" class="text-info" ng-click="verifyUser( u , $index,'email')"  > 验证 </a>
                    </td>
                    <td> {{u.last_login_ip }}</td>
                    <td> {{u.last_login_time| date:'yyyy-MM-dd HH:mm:ss'}} </td>
                    <td>
                        <!--jjw-->
                      <!--<a href="" class="text-info" ng-click="verifyUser( u , $index)"  > 验证 </a>-->
                      <a href="" class="text-info" ng-click="editUser( page.data, u , $index)" translate="edit"> 编辑</a>
                      <a href="" class="text-info" ng-click="delUser( page.data, u , $index)" translate="del">  删除用户</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--jjw b-t-none-->
    <div class="panel-footer b-t-none">
        <!--jjw m-t m-b-->
        <div  class="text-center m-b m-t height-30" ng-include src=" 'athena/debris/_pager.html'  "></div>
    </div>

 